<div class="ht-sitecontainer ht-sitecontainer--wide">
    <div class="site-header">
        <div ng-include="'pages/header.html'"></div>
    </div>
    <div class="ht-pageheader" id="top">
        <div class="ht-container">
            <div class="hkb-breadcrumbs_wrap">
                <ol class="hkb-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList" >
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
                        <a itemprop="item" href="#/home" title="Home"> 
                            <span itemprop="name">Home</span>
                            <svg class="hkb-breadcrumbs__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 34.1"><g><path d="M19,17c0,0.5-0.2,1-0.6,1.4L3.4,33.5c-0.8,0.8-2,0.8-2.8,0c-0.8-0.8-0.8-2,0-2.8L14.2,17L0.6,3.4c-0.8-0.8-0.8-2,0-2.8  c0.8-0.8,2-0.8,2.8,0l15.1,15.1C18.8,16,19,16.5,19,17z"/></g></svg> 
                        </a>
                        <meta itemprop="position" content="1"/>
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">							
                        <span itemprop="item" title="{{articleDetail[0].title}}"> 
                            <span itemprop="name">News</span>
                        </span>
                        <meta itemprop="position" content="3"/>
                    </li>
                </ol>						
            </div>
        </div>
    </div>
    <div class="ht-page ht-page--sidebarleft">
        <div class="ht-container">
            <!-- <aside class="sidebar natural" role="complementary" itemtype="http://schema.org/WPSideBar" itemscope="itemscope">
                <div class="sidebar__innercontainer" data-spy="affix" data-offset-top="248" data-offset-bottom="160">
                    <section id="ht-kb-toc-widget-2" class="widget hkb_widget_toc">
                        <h1 class="widget__title">Contents</h1> 
                        <nav id="navtoc" role="navigation">
                            <ol class="nav">
                                <li ng-class="(news.k_news_id == newData.k_news_id) ? 'active' : ''" ng-repeat="news in newsList"><a href ng-click="NewsGet(news.k_news_id);" ng-bind="news.k_news_title | uppercase"></a></li>
                            </ol>
                        </nav>
                    </section>
                </div> 
            </aside> ht-page__content-->
            <div class="contentSticky">
                <div layout="column" flex layout-fill>
                    <div md-scroll-shrink style="box-shadow: 0px -5px 15px #cacaca; color: #000000; background-color:  rgb(244, 245, 245)">
                      <div style="font-size:15px;" class="md-toolbar-tools" ng-bind="newData.k_news_title | uppercase"></div>
                    </div>
                        <div class="md-list-item-text">
                          <p style="padding: 10px; text-align: justify;" ng-bind-html="trustedHtml(newData.k_news_description)"></p>
                        </div>
                  </div>
            </div>
        </div>
    </div>
    <footer>
        <div ng-include="'pages/footer.html'">
    </div>
    </footer>
    