body {color: #454f59; background-color: #f4f4fb;}
.form-control{border-color: #ddd;}
.page_dashboard{overflow-y: hidden;}
.panel-default{border: 0; box-shadow: none;}

/* table */
table{background: #f4f4fb; border-collapse: separate; border-spacing: 0;}
table thead{background: #edf1f2 !important;}
table thead tr th{text-align: left !important;}

table tbody tr{background: #fff; overflow: hidden;}
table tbody tr:nth-child(odd) td{background: #fff;}
table tbody tr td{background: unset; text-align: left !important; border-top: 3px solid #f4f4fb; border-bottom: 0 !important; border-color: #f4f4fb !important;}
table tbody tr:nth-of-type(odd) td{background: #fff !important;}

table thead tr th:first-child, table tbody tr td:first-child{border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
table thead tr th:last-child, table tbody tr td:last-child{text-align: center !important; border-top-right-radius: 5px; border-bottom-right-radius: 5px;}

/* sidebar */
.sidebar_wrapper.md-aside{max-width: 220px !important; height: calc(100vh - 60px); padding: 0 0 20px;}
.sidebar_wrapper .sidebar_new{margin: 0 10px;}
.sidebar_wrapper .sidebar_new li{transition: all 0.2s ease-in-out;}
.sidebar_wrapper .sidebar_new li a{border-radius: 10px;}
.sidebar_wrapper .sidebar_new li a:hover{background: #f6f7fb;}
.sidebar_wrapper .sidebar_new li a:focus{background: unset;}
.sidebar_wrapper .sidebar_new > li > a{font-size: 14px; padding: 12px 15px !important; transition: all 0.2s ease-in-out;}
.sidebar_wrapper .sidebar_new > li > a > .font-bold{font-weight: 400;}
.sidebar_wrapper .sidebar_new > li.active > a{color: #fff !important; background-color: #4e2fc4 !important;}
.sidebar_wrapper .sidebar_new > li.active > a > i{color: #fff !important;}
.sidebar_wrapper .sidebar_new > li.active > a .font-bold, .sidebar_wrapper .sidebar_new > li > a:hover .font-bold{font-weight: 600;}
.sidebar_wrapper .sidebar_new > li.active > .nav-sub > li.menuBg{background: none; font-weight: 600;}
.sidebar_wrapper .sidebar_new > li.active > .nav-sub > li.active > a{background: none; font-weight: 600;}
.sidebar_wrapper .sidebar_new > li.active > .nav-sub > li > a:hover{background: none; font-weight: 600;}
.sidebar_wrapper .sidebar_new > li.active > .nav-sub > li a:hover{background: none; font-weight: 600;}
.sidebar_wrapper .sidebar_new > li.line{background: #e5eaf0; height: 1px; width: 100%;}


/* header */
.header_custom {box-shadow: 0 0 5px rgb(0 0 0 / 10%);}
.header_custom .header-bg-color {background: #fff; box-shadow: none;}
.header_custom .navbar-header .navbar-brand span{color: #454f59;}
.header_custom .userProfile_box .dropdown .dropdown-toggle:hover{background: #f4f4fb;}
.header_custom .userProfile_box .dropdown .dropdown-toggle:before {content: ''; width: 1px; height: 25px; display: block; background: #f4f4fb; position: absolute; left: 0; top: 50%; transform: translateY(-50%); }
.header_custom .userProfile_box .dropdown .dropdown-toggle span {color: #454f59; }
.header_custom .userProfile_box .dropdown .dropdown-toggle .caret{color: #454f59;}  
.header_custom .search_box .input-group{border: 1px solid #ddd; border-radius: 20px;}
.header_custom .search_box .input-group input{background: #fff;}
.header_custom .search_box .input-group .input-group-btn #clearBtn{background: #fff; border-right: 1px solid #f4f4fb;}
.header_custom .search_box .input-group .input-group-btn #clearBtn:hover{background: #f4f4fb;}
.header_custom .search_box .input-group .input-group-btn button{background: #fff; margin: 0; border-left: 1px solid #f4f4fb; border-radius: 0 20px 20px 0;}
.header_custom .search_box .input-group .input-group-btn button:hover{background: #f4f4fb;}

.page_content_wrapper .content_head {background: #f4f4fb; border-bottom: 0;}

.page_content_wrapper .white_box_wrapper .white_box{position: relative; border: 0; border-radius: 8px; box-shadow: 1px 1px 2px #0000000d;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .nav-tabs{background: #f4f4fb; padding-top: 0 !important;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .nav-tabs > li{background: #fafaff; padding: 0; z-index: 0;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .nav-tabs > li:before{z-index: 0;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .nav-tabs > li > a{height: 100%; padding: 10px 11px 8px 0 !important;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .nav-tabs > li > a .badge{color: #737f8b; background: #e5eaf0; font-size: 11px; margin: 0 0 0 5px;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .nav-tabs > li > a .glyphicon{color: #b4b2c9; margin: 0 5px 0 0;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .nav-tabs > li.active{background: #fff; z-index: 1;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .nav-tabs > li.active > a{color: #4e2fc4 !important;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .nav-tabs > li.active > a .badge{color: #fff; background: #4e2fc4; margin: 0 0 0 5px;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .nav-tabs > li.active > a .glyphicon{color: #4e2fc4; margin: 0 5px 0 0;}

.page_content_wrapper .white_box_wrapper .white_box .projecttable .tab-content{position: relative; padding-top: 60px; padding-bottom: 0; border-radius: 8px;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .tab-content .btn_create-project{position: absolute; top: 16px; right: 15px; display: inline-flex; align-items: center; justify-content: center; height: 35px; font-size: 13px; background: #4e2fc4; border-color:  #4e2fc4; transition: .2s ease-in-out; z-index: 1;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .tab-content .btn_create-project:hover{background: #16129e;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .tab-content .btn_create-project i{margin: 0 3px 0 0;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .tab-content .dataTables_wrapper{max-height: 478px; overflow: auto; padding-top: 0;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .dataTables_filter{top: 19px; left: 23px; right: unset;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .dataTables_filter input{padding-left: 25px; text-indent: 5px; width: 200px; height: 35px; font-size: 13px;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .dataTables_filter .searchicn{color: #c9d0db; margin-right: -35px;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .dataTables_length label{margin-bottom: 0;}

.page_content_wrapper .white_box_wrapper .white_box .projecttable .table-striped > thead{position: sticky; top: 0; z-index: 2;}

.page_content_wrapper .white_box_wrapper .white_box .projecttable .table-striped > tbody > tr > td.dataTables_empty{text-align: left;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .table-striped > tbody > tr > td .projstatus{display: inline-flex; align-items: center; background: unset; padding: 5px 10px; border: 0; border-radius: 20px; text-transform: uppercase; font-size: 11px; font-weight: 600;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .table-striped > tbody > tr > td .badge.bg-warning{background: #ffca01;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .table-striped > tbody > tr > td .projstatus.projectstatus_completed{background: rgb(0 137 137 / 20%); color: #008989;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .table-striped > tbody > tr > td .projstatus.projectstatus_inprogress{color: #FF9719; background: rgb(255 151 25 / 20%);}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .table-striped > tbody > tr > td .projstatus.projectstatus_assigned{color: #e4b500; background: rgb(255 208 25 / 20%)}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .table-striped > tbody > tr > td .projstatus.projectstatus_assigned .text-xs{color: #ffca01 !important;}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .table-striped > tbody > tr > td .projstatus.projectstatus_ready{color: #4848CC; background: rgb(72 72 204 / 20%);}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .table-striped > tbody > tr > td .projstatus.projectstatus_delivered{color: #8B008B; background: rgb(139 0 139 / 20%);}
.page_content_wrapper .white_box_wrapper .white_box .projecttable .table-striped > tbody > tr > td .projstatus .text-xs{font-size: 10px; margin: 0px 5px 0 0;}

.page_content_wrapper .white_box_wrapper .white_box.overview-panel{margin-bottom: 0;} 
.page_content_wrapper .white_box_wrapper .white_box.overview-panel .panel-heading{background-color: #fff !important;}
.page_content_wrapper .white_box_wrapper .white_box.overview-panel .panel-footer .bg-info{color: #fff; background-color: #4e2fc4;}
.page_content_wrapper .white_box_wrapper .white_box .list-group-item .bg-info{color: #fff; background-color: #4e2fc4;}
.page_content_wrapper .white_box_wrapper .white_box .list-group-item > a{color: #4e2fc4; text-decoration: none;}
.page_content_wrapper .white_box_wrapper .white_box .list-group-item > a:hover{text-decoration: underline;}

.page_content_wrapper .white_box_wrapper .white_box .dataTables_wrapper .pagination .paginate_button.active > a{background-color: #4e2fc4; border-color: #4e2fc4;}
.page_content_wrapper .white_box_wrapper .white_box .dataTables_wrapper .dataTables_paginate{position: relative;}