<style type="text/css">
    .modal-dialog {
        width: 70%;
    }
</style>
<div class="modal-header" style="min-height:60px;">
    <div class="modal-title">
        <h4>Create client contact </h4>
        <button class="btn btn-info" ng-click="cancel()"> <i class="fa fa-close"></i> </button>
    </div>
</div>
<div class="modal-body ng-scope">
    <div class="row">
        <form id="contact-form">
            <!--   TAB1 -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">
                            <h4>Contact Information</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input capitalize-first type="text" class="form-control"name="vFirstName" ng-model="contact.vFirstName" required  ng-blur="checkusername()">
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input capitalize-first type="text" class="form-control"
                                            name="vLastName" ng-model="contact.vLastName" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <input type="email" class="form-control" name="vEmailAddress"
                                            ng-model="contact.vEmail" required
                                            ng-blur="checkemailaddress()">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="iphone" class="control-label">Phone Number</label>
                                        <div class="input-group" style="width:100% !important">
                                            <input type="text" class="form-control" id="iphone"
                                                name="iphone" ng-model="contact.vPhone"
                                                international-phone-number default-country="" />
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Skype</label>
                                        <input type="text" class="form-control" name="vSkypeName"
                                            ng-model="contact.vSkype">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Job Title <!-- Department---></label>
                                        <input type="text" class="form-control" name="jobtitle"
                                            ng-model="contact.vJobTitle">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-info pull-right"
                                    ng-click="saveContact('contact-form',1);" style="margin-left:5px"><i
                                        class="fa fa-floppy-o" aria-hidden="true"></i> Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-click="cancel()">Cancel</button>
    <!-- <button class="btn btn-primary" ng-click="ok()">OK</button> -->
</div>