  <style type="text/css">
    .nav-pills.nav-wizard > >ul>li {
        border-right:78px solid #eef5fa !important;
    }
    .hrght {
        float: right;
        color: red;
        margin-top: -1.5%;
    }
</style>
  <div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1" data-ng-include=" 'tpl/material.header.html' " >
  </div>
  <div layout="row">
    <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs" data-ng-include=" 'tpl/material.aside.html' ">
    </div>
    <div flex layout="column">
      <div ui-butterbar></div>
      <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside" ></a>
      <div class="md-content page_content_wrapper">
        
        <div class="content_head bg-light lter b-b wrapper-md ng-scope">
          <h1 class="m-n font-thin h3 hleft">{{info.vUserName}}</h1>
          <a href="javascript:history.back()" class="btn btn-info pull-right btn-sm"><span class="fa fa-arrow-left"></span> Back</a>
         <h5 class="hrght1" ng-if="UpdateClientName">This record is currently edited by {{UpdateClientName}}<h5>
        </div>
        <div class="wrapper-md ng-scope">
        <div class="panel panel-default" style="margin-top:1%">

            <div class="panel-body">
              <form id="client-profile1">
                                <!--   TAB1 -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading font-bold"><h4>Basic Information</h4></div>
                                            <div class="panel-body">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Account  name</label>
                                                            <input capitalize-first type="text" class="form-control" name="name" ng-model="info.vUserName" required>
                                                        </div>
                                                        <!--<div class="form-group">
                                                            <label>Company Code (rights)</label>
                                                            <input type="text" class="form-control" name="vLastName" ng-model="info.vCodeInvoice" required>
                                                        </div>-->
                                                    </div>          
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Website :</label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" name="website" ng-model="info.vWebsite" required> <span
                                                                    class="input-group-addon"><a target="_blank"
                                                                    ng-href="http://{{info.vWebsite}}/"><i
                                                                        class="fa fa-external-link"></i></a></span>
                                                            </div>
                                                            <label for="website" class="error"></label>
                                                        </div>
                                                  </div>
                                                   <!-- <div class="col-sm-4">
                                                       <div class="form-group">
                                                           <label class="control-label">PO</label>
                                                           <textarea class="form-control"  name="tpo" ng-model="info.po"  ></textarea>
                                                       </div>
                                                   </div> -->
                                                   <div class="col-sm-4">
                                                       <div class="form-group">
                                                           <label class="control-label">Notes</label>
                                                           <textarea class="form-control"  name="tnotes" ng-model="info.notes"  style="resize: none;"></textarea>
                                                       </div>
                                                   </div>
                                                     <!-- <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Contact Firstname</label>
                                                            <input capitalize-first type="text" class="form-control" name="Firstname" ng-model="info.Firstname" required>
                                                        </div>
                                                        <!--<div class="form-group">
                                                        <label>Company Code (rights)</label>
                                                        <input type="text" class="form-control" name="vLastName" ng-model="info.vCodeInvoice" required>
                                                        </div>-->
                                                    <!-- </div>
                                                     <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Contact Lastname</label>
                                                            <input capitalize-first type="text" class="form-control" name="Lastname" ng-model="info.Lastname" required>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">Status</label>
                                      <input class="form-control" name="eUserStatus" select2-client-status ng-model="info.vStatus" required />
                                                </div>
                                            </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <div class="input-group">
                                                                <input type="email" class="form-control" name="vEmailAddress" ng-model="info.vEmailAddress" ng-blur="checkemailaddress(info.vEmailAddress)" required>
                                                                <span class="input-group-addon"><a ng-href="mailto:{{info.vEmail}}"><i class="fa fa-inbox"></i></a></span>
                                                            </div>
                                                        </div>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <!-- <div class="panel-heading font-bold">
                                        <h4>File Manager</h4>
                                    </div> -->
                                    <div class="panel-body">
                                        <div class="col-lg-12">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <a href="javascript:void(0)" ng-click="directoryIndirectFolder('client-profile1',info.iClientId);" title="File Manager">
                                                    <i class="filefolder"></i></a>
                                                </div>
                                            </div>                                               
                                        </div>
                                    </div>
                                </div>
                                <!--   TAB1 -->
                                <div class="panel-footer">
                                        <a class="btn btn-info btn-rightside" ng-click="saveClientIndiarect('client-profile1');"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</a>
                                </div>
                            </form>
            </div>
          </div>
        </div>

      </div>
      <!-- footer copy right -->
<div data-ng-include="'tpl/copyRight.html'"></div>
    </div>
  </div>
