<style>
  .invcBtn {
    margin-right: 5px;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f8f8f8;
  }

  .invoice-header,.invoice-footer {
    background-color: #6D85Ad;
    padding: 25px;
    padding-bottom: 25px;
    color: #FFF;
    margin-bottom: 15px;
  }
  .invoice-content1{
    padding: 25px;
  }
  .invoice-header h1 {
    margin-top: 50px;
  }
  .invoice-footer p{
    margin-top: 10px;
  }
  .line{
    background: #f1ecec;
    margin-bottom: 25px;
  }
  .imgcenter{
    margin: 0 auto;
    width: max-content;
  }
</style>
<div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1"
  data-ng-include=" 'tpl/material.header.html' ">
</div>
<div layout="row">
  <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs"
    data-ng-include=" 'tpl/material.aside.html' ">
  </div>
  <div flex layout="column">
    <div ui-butterbar></div>
    <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside"></a>
    <div class="md-content page_content_wrapper">
      <div class="content_head bg-light lter b-b wrapper-md ng-scope" style="margin-bottom:10px;">
        <div class="pull-left">
          <h1 class="m-n font-thin h3">Invoice</h1>
        </div>
        <div class="pull-right">
          <a ng-show="userRight==1" href="javascript:history.back()" class="btn btn-sm btn-info invcBtn"><span
              class="fa fa-arrow-left"></span> Back</a>
          <a ng-show="userRight==2" href="javascript:history.back()" class="btn btn-sm btn-info invcBtn"><span
              class="fa fa-arrow-left"></span> Back</a>
          <a href="" class="btn btn-sm btn-info invcBtn" ng-click="printIt(invoiceDetail.invoice_number)"
            ng-disabled="is_disabled">Download</a>
          <a href="" class="btn btn-sm btn-info invcBtn" ng-hide="editDisabled" ng-click="editInvoiceClient(invoiceDetail.invoice_number)"><i
              class="fa fa-pencil"></i> Edit & Save</a>
          <a href="" class="btn btn-sm btn-info" ng-show="reminderBtnHideShow"
            ng-click="sendRemiderinvoice(invoiceDetail.invoice_number)" ng-disabled="is_disabled">Send Reminder</a>
        </div>
      </div>
      <div class="wrapper-md ng-scope">
        <div class="panel panel-default invoiceInput" id="exportable">
          <div class="panel-body" style="padding-top:0;">
            <div class="col-sm-12">
              <div class="row">
                <div class="row invoice-header">
                  <div class="col-xs-6">
                    <h1>Invoice</h1>
                  </div>
                  <div class="col-xs-6 text-right">
                    <!-- <img ng-src="uploads/tms_logo.png" style="border-radius: 100px;"> -->
                    <h4>SpellUp AS</h4>
                    <p>Ødegårdsveien 43J </br>
                      Norway </br>
                      NO930108995</P>
                  </div>
                </div>

                <div class="row invoice-content1">
                  <div class="col-xs-6">
                    <p style="font-size:20px;">
                      <strong ng-bind="invoiceDetail.clientCompanyName"></strong></br>
                    </p>
                    <p class="mb-0">
                      {{invoiceDetail.companyAddress}} </br>
                      {{clientZipcode}} <span ng-if="clientCity"> , {{clientCity}}</span> </br>
                      {{clientCountry}} </br>
                      Vat Number : {{invoiceDetail.clientVatinfo}} </br>
                      <!-- Phone: <span ng-bind="invoiceDetail.companyPhone"></span> -->
                    </p>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="h4"> <strong>INVOICE #{{ invoiceDetail.invoice_number }}</strong></p>
                    <br />
                    <p>
                      Invoice date: <br /><span ng-bind="invoiceDetail.invoice_date | globalDtFormat"></span></br>
                      Payment due date: <br />
                      <span ng-bind="invoiceDetail.paymentDueDate | globalDtFormat"></span><br />
                    </p>
                    <!-- <p style="color:#b6b0b0">BeConnected AS &#183; Sandakerveien 138 &#183; 0484 Oslo &#183; Norway
                    </p>
                    <p style="color:#b6b0b0"> Email: info@beconnected.no</p> -->
                  </div>
                </div>

                <!-- <div class="line"></div> -->
                <!-- <div class="col-sm-12" style="padding-left:0;">
                  <div class="col-sm-2">
                    <p><strong>Contact</strong></p>
                    {{invoiceDetail.freelanceName}}
                  </div>
                  <div class="col-sm-2">
                    <p><strong>Telephone</strong></p>{{invoiceDetail.freelancePhone}}
                  </div>
                  <div class="col-sm-2">
                    <p><strong>Email</strong></p> {{invoiceDetail.freelanceEmail}}
                  </div>
                </div> -->
                <div class="line"></div>
                <!-- <table ng-init="invoiceLength = invoiceList.length - 1" ng-init="invL.item.subTotal = {}" s
                  class="table table-striped bg-white b-a" ng-repeat="invL in invoiceList track by $index"
                  id="InvoiceTbl"> -->
                <div class="invoice-content2">  
                  <table ng-init="invoiceLength = invoiceList.length - 1" ng-init="invL.item.subTotal = {}" s
                    class="table table-striped" id="InvoiceTbl">
                    <thead>
                      <tr>
                        <th>ITEMS</th>
                        <th>DESCRIPTION</th>
                        <th>QUANTITY</th>
                        <th>PRICE</th>
                        <th>TAX</th>
                        <th>AMOUNT</th>
                      </tr>
                    </thead>
                    <tbody ng-init="invoiceLength = invoiceList.length - 1" ng-init="invL.item.subTotal = {}" s
                      class="table table-striped bg-white b-a" ng-repeat="invL in invoiceList track by $index">
                      <tr class="thfont">
                        <th>({{$index + 1}})</th>
                        <th>{{invL.orderNumber}}-{{ invL.item_number | numberFixedLen:3 }}</th>
                        <th>1</th>
                        <th>
                          <input class="invoiceCal form-control" type="text" ng-model="invL.item.itemTotalVal"
                            id="invSubTotal{{$index}}"
                            ng-change="changeInvoiceField($index,$parent.$index,invL.item.subTotal,'itemPrice')"
                            name="itemVal_{{invL.itemId}}" style="width:180px;" ng-disabled="editDisabled"/>
                        </th>
                        <th>
                          <span ng-if="invL.tax_rate">{{invL.tax_rate | customNumber}}%</span>
                          <span ng-if="!invL.tax_rate">{{'0.00' | customNumber}}%</span>
                        </th>
                        <th>
                          <!-- {{invL.item.subTotal | customNumber }}  -->
                          <!-- <span ng-hide="editInvoiceField">{{invL.item.subTotal | customNumber }}</span> -->
                          <!-- {{ invL.itemPriceTax }} -->
                          <span id="priceWithTax{{$index}}">{{ invL.item.priceWithTax | customNumber }}</span>
                          
                        </th>
                      </tr>
                      <tr ng-if="$index == invoiceLength">
                        <td colspan="5" class="text-right">
                          <strong>Sub Total</strong>
                        </td>
                        <td style="width:10%;">
                          {{invoiceTotal}}
                          <!-- <input class="form-control" ng-show="editInvoiceField" type="text" ng-model="invoiceTotal"
                          ng-disabled="editDisabled" ng-change="changeInvoiceField($index,$parent.$index,invoiceTotal,'invoiceTotal')"
                            id="invSubtotal" /> -->
                      </tr>
                      <!-- <tr ng-if="$index == invoiceLength" class="tdborder">
                        <td colspan="5" class="text-right no-border"><strong>VAT Tax</strong></td>
                        <td>
                          <input class="form-control" ng-show="editInvoiceField" type="text" ng-model="vat"
                          ng-disabled="editDisabled" ng-change="changeInvoiceField($index, $parent.$index, vat, 'vat')" />
                        </td>
                      </tr> -->
                      <!-- <tr ng-if="$index == invoiceLength" class="tdborder">
                        <td colspan="5" class="text-right no-border"><strong>Total</strong></td>
                        <td>
                          <span> <strong> {{grandTotal | customNumber}} </strong> </span>
                        </td>
                      </tr> -->
                      <tr ng-if="$index == invoiceLength && invL.paid_amount > 0" class="tdborder">
                        <td colspan="5" class="text-right no-border"><strong>Paid</strong></td>
                        <td style="width:10%;"> {{invL.paid_amount | customNumber}}</td>
                      </tr>
                      <!-- <tr ng-if="$index == invoiceLength && invL.paid_amount > 0" class="tdborder">
                        <td colspan="5" class="text-right no-border"><strong>Total Due Amount</strong></td>
                        <td style="width:10%;"> <strong> {{invL.Invoice_cost - invL.paid_amount |
                            customNumber}}</strong></td>
                      </tr> -->

                    </tbody>
                  </table>
                </div>  
                <div class="row invoice-footer">
                  <div class="col-xs-6">
                    <p>Bank Name: Revolut Bank UAB </br>
                      Account Holder: <span ng-bind="vBankInfo.holder_name"></span> </br>
                      IBAN: <span ng-bind="vBankInfo.iban"></span> </br>
                      SWIFT: <span ng-bind="vBankInfo.swift_bic"></span></P>
                  </div>
                  <div class="col-xs-6 text-right">
                    <!-- <img ng-src="uploads/tms_logo.png" style="border-radius: 100px;"> -->
                    <h4>TOTAL <span ng-bind="dueAmountText"></span></h4>
                    <h3>€ {{totalDue | customNumber}}</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="imgcenter">
                    <img src="assets/img/BeConnected_Logo.png" class="img-full" alt="SpellUp" style="max-height: 50px; max-width: 100%; width: auto;">
                  </div>
                </div>
              
              <div id="toAddEleAfterDwonload"></div>
              <div class="row" style="margin-top:20px;">
                <button id="btnPaid" ng-show="userRight==1 && invoiceDetail.invoice_type!='draft'"
                  class="btn btn-info btnSave" ng-click="invoicePaid('invoice-form');"> Paid</button>
                <button id="btnMarkAsCancel" ng-show="userRight==1 && invoiceDetail.invoice_status=='Open'"
                  class="btn btn-info btnSave" ng-click="invoiceCancel('invoice-form');">Mark as cancel</button>
                <button id="btnSave"
                  ng-show="invoiceDetail.invoice_type!='save' || invoiceDetail.is_invoice_sent!=1 && invoiceDetail.invoice_status!='Complete'"
                  class="btn btn-info btnSave" ng-click="save('invoice-form', 'save');"><i class="fa fa-floppy-o"
                    aria-hidden="true"></i>&nbsp; To be sent</button>
                <button id="btnDraft" ng-show="!invoiceDetail.invoice_type" class="btn btn-info"
                  ng-click="save('invoice-form', 'draft');"> Draft</button>
                <button id="btnCancel" ng-show="!invoiceDetail.invoice_type" class="btn btn-info" ng-click="cancel();">
                  Cancel</button>
                <button id="irrecoverable" class="btn btn-info btnSave" ng-show="reminderBtnHideShow"
                  ng-click="isIrrecoverableInvoice();"> Irrecoverable </button>
                <button id="editInvoiceSave" class="btn btn-info invcBtn btnSave" ng-hide="editDisabled"  
                  ng-click="editInvoiceClient(invoiceDetail.invoice_number)"><i class="fa fa-pencil"></i> Edit & Save </button>
              </div>    
            </div>
          </div>
        </div>

      </div>
        <!-- footer copy right -->
        <div data-ng-include="'tpl/copyRight.html'"></div>
    </div>

  </div>
</div>