<div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1"
    data-ng-include=" 'tpl/material.header.html' ">
</div>
<div layout="row">
    <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs"
        data-ng-include=" 'tpl/material.aside.html' ">
    </div>
    <div flex layout="column">
        <div ui-butterbar></div>
        <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside"></a>
        <div class="md-content page_content_wrapper">

            <div class="content_head bg-light lter b-b wrapper-md ng-scope">
                <div class="pull-right">
                    <a ng-show="userRight==1" href="javascript:history.back()" class="btn btn-sm btn-info"
                        > Back</a>
                    <a ng-show="userRight==2" href="javascript:history.back()" class="btn btn-sm btn-info"
                        > Back</a>
                    <a href="" class="btn btn-sm btn-info"
                        ng-click="printIt(invoiceDetail.invoice_number)">Download</a>
                    <a href="" class="btn btn-sm btn-info" ng-show="reminderBtnHideShow"
                    ng-click="sendRemiderinvoice(invoiceDetail.invoice_number)" ng-disabled="is_disabled">Send Reminder</a>
                </div>        
            </div>
            <div class="wrapper-md ng-scope">
                <div class="panel panel-default" id="exportable">
                    <div class="panel-heading" style="background-color: #fff;">
                        <form id="invoice-form">
                            <div class="wrapper-md ng-scope">
                                <div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <img ng-src="uploads/tms_logo.png" style="border-radius: 100px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <p>
                                                <strong ng-bind="invoiceDetail.clientCompanyName"></strong></br> 
                                                <span ng-bind="invoiceDetail.companyAddress"></span></br>
                                                <span ng-bind="clientZipcode"></span> , <span ng-bind="clientCity"></span></br>
                                                <span ng-bind="clientCountry"></span>
                                                <br/>
                                                Vat Number: <span ng-bind="invoiceDetail.clientVatinfo"></span>
                                                <br />
                                                Phone: <span ng-bind="invoiceDetail.companyPhone"></span>
                                            </p>
                                            <!-- <img ng-src="uploads/profilePic/{{invoiceDetail.freelancePic}}" width="70"
                                            height="70" style="border-radius: 100px;">
                                            <h4 ng-bind="invoiceDetail.freelanceName"></h4>
                                            <p ng-bind="invoiceDetail.freelanceAddress"></p>
                                            <p>
                                                Telephone: <span ng-bind="invoiceDetail.freelancePhone"></span>
                                            </p> -->
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <p class="h4"> <strong>#{{ invoiceDetail.invoice_number }}</strong></p>
                                            <h5>
                                                <span>Invoice date : </span><span ng-bind="invoiceDetail.invoice_date | globalDtFormat"></span></br></br>
                                                <!-- <span>Value date : </span><span ng-bind="invoiceDetail.value_date | dateFormat"></span></br></br> -->
                                                <span>Payment due date : </span>
                                                <span ng-bind="invoiceDetail.paymentDueDate | globalDtFormat"></span><br/>
                                            </h5>
                                            <p style="color:#b6b0b0">BeConnected AS &#183; Sandakerveien 138 &#183; 0484 Oslo &#183; Norway</p>
                                            <p style="color:#b6b0b0"> Email: info@beconnected.no</p>
                                            
                                        </div>
                                    </div>
                                    <div class="well none">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <!-- <strong>Company:</strong>
                                                <h4 ng-bind="invoiceDetail.clientCompanyName"></h4>
                                                <p>
                                                    Phone: <span ng-bind="invoiceDetail.companyPhone"></span>
                                                    <br> Vat Number: <span ng-bind="invoiceDetail.clientVatinfo"></span>
                                                     <br> Email: <span ng-bind="invoiceDetail.companyEmail"></span>
                                                </p> -->
                                                
                                            </div>
                                            <div class="col-xs-6">
                                                <!-- <p><strong>Address</strong></p>
                                                <p>
                                                    <span ng-bind="invoiceDetail.companyAddress"></span></br>
                                                    <span ng-bind="invoiceDetail.companyAddressDtl"></span></br>
                                                    <span ng-bind="postalcodeAddr"></span>
                                                </p>                                                     -->
                                            </div>
                                        </div>
                                    </div>
                                    
                                      <div class="line"></div>
                                      <div class="col-sm-12" style="padding-left:0;">
                                        <div class="col-sm-2">
                                            <p><strong>Contact</strong></p>
                                            {{invoiceDetail.freelanceName}}
                                        </div>
                                        <div class="col-sm-2">
                                            <p><strong>Telephone</strong></p>{{invoiceDetail.freelancePhone}}</div>
                                        <div class="col-sm-2">
                                            <p><strong>Email</strong></p> {{invoiceDetail.freelanceEmail}} </div>
                                        </div>
                                      <div class="line"></div>
                                    <!-- <table ng-init="invoiceLength = invoiceList.length - 1" ng-init="invL.item.subTotal = {}" s
                                  class="table table-striped bg-white b-a" ng-repeat="invL in invoiceList track by $index"
                                  id="InvoiceTbl"> -->
                                    <table ng-init="invoiceLength = invoiceList.length - 1" ng-init="invL.item.subTotal = {}" s
                                    class="table table-striped bg-white b-a"
                                    id="InvoiceTbl">  
                                        <thead>
                                            <tr>
                                            <th>#</th>
                                            <th>PROJECT</th>
                                            <th>Po Number</th>
                                            <th>TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-init="invoiceLength = invoiceList.length - 1" ng-init="invL.item.subTotal = {}" s
                                        class="table table-striped bg-white b-a" ng-repeat="invL in invoiceList track by $index"
                                        >
                                            <tr class="thfont">
                                                <th>({{$index + 1}})</th>
                                                <th>{{invL.orderNumber}}-{{ invL.item_number | numberFixedLen:3 }}</th>
                                                <th>{{invL.po_number}}</th>
                                                <th>{{invL.item.subTotal | customNumber }}</th>
                                            </tr>

                                            <tr class="none" ng-repeat="item in invL.item track by $index">
                                            <td ng-bind="$index+1"></td>
                                            <td ng-bind="item.pricelist"></td>
                                            <td ng-bind="item.quantity"></td>
                                            <td ng-bind="item.itemPrice | customNumber"></td>
                                            <td ng-bind="item.itemTotal | customNumber"></td>
                                            <td class="none" ng-init="invL.item.subTotal = invL.item.subTotal + item.itemTotal"></td>
                                            </tr>
                                            <tr ng-if="$index == invoiceLength">
                                            <td colspan="3" class="text-right"><strong>Subtotal</strong></td>
                                            <td style="width:10%;">
                                                {{currencyType}} {{grandTotal | customNumber}}
                                                <!-- <span ng-if="!invoiceLength">{{invL.item.subTotal | customNumber}}</span>
                                                    <span ng-if="invoiceLength">{{invL.item.subTotal * (invoiceLength + 1) | customNumber}}</span> </td> -->
                                            </tr>
                                            <!-- <tr ng-if="$index == invoiceLength" class="tdborder">
                                                <td colspan="3" class="text-right no-border"><strong>Tax</strong></td>
                                                <td>{{currencyType}}0.00</td>
                                            </tr> -->
                                            <tr ng-if="$index == invoiceLength" class="tdborder">
                                                <td colspan="3" class="text-right no-border"><strong>VAT Included in Total</strong></td>
                                                <td>{{currencyType}}0.00</td>
                                            </tr>
                                            <tr ng-if="$index == invoiceLength" class="tdborder">
                                                <td colspan="3" class="text-right no-border"><strong>Total</strong></td>
                                                <td>{{currencyType}} <strong> {{grandTotal | customNumber}}
                                                <!-- <span ng-if="!invoiceLength" id="invoiceTotal"> {{invL.item.subTotal | customNumber}}</span> -->
                                                <!-- <span ng-if="invoiceLength" id="invoiceTotal"> {{invL.item.subTotal * (invoiceLength + 1) | customNumber}}</span> -->
                                                </strong></td>
                                            </tr>
                                            <tr ng-if="$index == invoiceLength && invL.paid_amount > 0" class="tdborder">
                                                <td colspan="3" class="text-right no-border"><strong>Paid</strong></td>
                                                <td style="width:10%;">{{currencyType}} {{invL.paid_amount | customNumber}}</td>
                                            </tr>  
                                            <tr ng-if="$index == invoiceLength && invL.paid_amount > 0" class="tdborder">
                                                <td colspan="3" class="text-right no-border"><strong>Total Due Amount</strong></td>
                                                <td style="width:10%;">{{currencyType}} <strong> {{invL.Invoice_cost - invL.paid_amount | customNumber}}</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-sm-12" style="padding:0;bottom:10px;top:3px">
                                        <p class="m-t m-b" style="font-weight:600;background: #edf1f2;padding: 11px;">Payment Information:</p>
                                        <div class="col-sm-6" ng-if="currencyPaymentMethod == 'Bank Transfer'">
                                            <table class="table table-striped b-t b-b table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th><span class="TblSpan">Payment Method</span></th>
                                                        <td><span ng-bind="vBankInfo.payment_method" class="ng-binding"></span></td>
                                                    </tr>
                                                    <!-- <tr>
                                                        <th><span class="TblSpan">Bank Address</span></th>
                                                        <td><span ng-bind="vBankInfo.address" class="ng-binding"></span></td>
                                                    </tr> -->
                                                    <tr>
                                                        <th><span class="TblSpan">Account Holder</span></th>
                                                        <td><span  ng-bind="vBankInfo.holder_name" class="ng-binding"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th><span class="TblSpan">Currency</span></th>
                                                        <td><span  ng-bind="vBankInfo.currency_code" class="ng-binding"></span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-6" ng-if="currencyPaymentMethod == 'Bank Transfer'">
                                            <table class="table table-striped b-t b-b table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th><span class="TblSpan">IBAN</span></th>
                                                        <td><span ng-bind="vBankInfo.iban" class="ng-binding"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th><span class="TblSpan">SWIFT/BIC</span></th>
                                                        <td><span ng-bind="vBankInfo.swift_bic" class="ng-binding"></span></td>
                                                    </tr>
                                                    <!-- <tr>
                                                        <th><span class="TblSpan">Routing Number</span></th>
                                                        <td><span  ng-bind="vBankInfo.bank_code" class="ng-binding"></span></td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-6" ng-if="currencyPaymentMethod == 'Paypal'">
                                          <table class="table table-striped b-t b-b table-bordered">
                                            <tbody>
                                              <tr>
                                                <th><span class="TblSpan">Paysera Account</span></th>
                                                <td><span ng-bind="vBankInfo.paypal_address" class="ng-binding"></span></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                        <!-- <p class="m-t m-b">Payment Method:
                                                        <br>
                                                        <span ng-if="currencyPaymentMethod == 'Bank Transfer'">
                                                                              <input type="radio" id="Bank" name="paymentType" ng-init="currencyPaymentMethod == 'Bank Transfer'" ng-model="invoiceDetail.payment" ng-value='"Bank"' disabled> Bank
                                                                            </span>
                                                        <span ng-if="currencyPaymentMethod == 'Paypal'">
                                                                              <input type="radio" id="Paypal" name="paymentType" ng-model="invoiceDetail.payment" ng-value='"Paypal"' disabled> Paypal
                                                                            </span>
                                                    </p> -->
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <!-- <div class="table-responsive" ng-if="partPaymentList.length > 0"> -->
                                    <div class="table-responsive">
                                            <div class="bg-light lter b-b wrapper-md">
                                            <h4 class="m-n font-thin">Payments Detail</h4>
                                        </div>
                                        <table class="table table-striped b-t b-b table-bordered">
                                            <thead>
                                                <th>#</th>
                                                <!-- <th>Invoice Number</th> -->
                                                <th>Amount</th>
                                                <th>Payment Date</th>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="partPayment in partPaymentList ">
                                                    <td ng-bind="$index + 1"></td>
                                                    <!-- <td ng-bind="invoiceDetail.invoice_number"></td> -->
                                                    <td
                                                        ng-bind="partPayment.invoice_partial_paid_amount | customNumber">
                                                    </td>
                                                    <td ng-bind="partPayment.created_date | globalDtFormat"></td>
                                                </tr>
                                                <tr>
                                                    <td ng-if="partPaymentList.length == 0">No payment detail available.
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </form>

                </div>
                <!-- footer copy right -->
                <div data-ng-include="'tpl/copyRight.html'"></div>

            </div>
        </div>
    </div>