<style type="text/css">
  .discussion_page {
    background: #f4f4fb;
  }

  .modal-dialog {
    width: 85%;
  }

  .chatbox {
    padding: 15px;
  }

  ul#comment-list,
  #attachment-list {
    max-height: 320px;
    overflow-y: scroll;
    position: relative;
    margin-bottom: 10px !important;
  }

  /* width Style for scroll*/
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .arrow.left:after {
    /*    border-right-color: #edf1f2;*/
  }

  .commenting-field.main .profile-picture {
    float: left;
  }

  .jquery-comments ul.main li.comment {
    width: auto;
    float: right;
    position: relative;
    margin-bottom: 50px;
    color: #fff;
    min-width: 220px;
  }

  .jquery-comments ul.main li.comment .wrapper .content a.attachment>* {
    max-width: 80px;
    max-height: 80px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .jquery-comments ul.main li.comment .comment-wrapper {
    border-top: none;
    padding: 0;
  }

  .userpic {
    width: 40px;
    float: left;
    margin-left: 10px;
  }

  .cmtright .name {
    margin-right: 5px;
  }

  .cmtright .attachment {
    color: #FFF;
  }

  .cmtright .profile-picture,
  .cmtright .name {
    float: right;
  }

  .cmtleft .profile-picture,
  .cmtleft .name {
    float: left !important;
  }

  .livemsg .profile-picture,
  .livemsg .name {
    float: right;
  }

  .textcomplete-item .details .name {
    float: none;
    margin-right: auto;
  }

  .jquery-comments ul.navigation li[data-sort-key="attachments"] {
    float: none;
  }

  .jquery-comments ul.main li.comment .wrapper {
    background-color: #4285F4;
    border-radius: 25px 25px 0px 025px;
    margin-right: 55px;
    width: auto;
    float: right;
  }

  .jquery-comments ul.main li.comment.pull-left .wrapper {
    margin-right: 0;
    margin-left: 55px;
    border-radius: 25px 25px 25px 0px;
    float: left;
    color: #333;
    background-color: #e3eaf2;
  }

  .jquery-comments ul.main li.comment .wrapper a {
    color: #fff;
  }

  .jquery-comments ul.main li.comment.pull-left .wrapper a {
    color: #333;
  }

  .livemsg .profile-picture {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .livemsg .pull-left .profile-picture {
    left: 0;
    margin-left: 1rem;
    margin-right: 0;
  }

  .jquery-comments ul.main li.comment time {
    position: absolute;
    top: 100%;
    margin-top: 5px;
  }

  .livemsg .name {
    position: absolute;
    top: 100%;
    right: 55px;
    margin-top: 3px;
    font-weight: 500;
    margin-right: 0;
    min-width: 100px;
    text-align: right;
  }

  .livemsg .pull-left .name {
    right: auto;
    left: 55px;
    text-align: left;
  }

  .jquery-comments ul.main li.comment.pull-left time {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 5px;
  }

  .jquery-comments .textarea-wrapper .close {
    display: none !important;
  }

  .textcomplete-item .details .name {
    float: none;
    margin-right: auto;
    position: relative;
    right: initial;
    top: initial;
    text-align: initial;
    margin-top: auto;
  }

  .textcomplete-item .profile-picture {
    position: relative;
  }

  .commenting-field .profile-picture {
    position: relative;
    float: left;
  }

  .control-row .send {
    border-radius: 0px 2px 2px 15px;
    padding: 5px 20px !important;
  }

  .control-row .upload {
    padding: 5px 20px !important;
    margin-right: 15px;
  }

  li[data-sort-key='oldest'] {
    margin-left: -27px;
  }

  .emojionearea-editor {
    /*display: none !important;*/
    width: 0px;
  }

  .emojionearea,
  .emojionearea.form-control {
    -moz-box-shadow: initial;
    -webkit-box-shadow: initial;
    box-shadow: initial;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    border: none;
    float: right;
    width: auto;
  }

  .emojionearea.emojionearea-inline {
    height: auto;
  }

  /* date seperator */
  .seperatordate {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .seperatordate::before,
  .seperatordate::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #b4b6b9;
  }

  .seperatordate:not(:empty)::before {
    margin-right: .25em;
  }

  .seperatordate:not(:empty)::after {
    margin-left: .25em;
  }

  li.seperatordate.comment {
    width: 100% !important;
    margin: 0 0 30px 0 !important;
    max-width: initial !important;
    color: #b4b6b9 !important;
  }

  .hideusername {
    display: none;
  }
  .intexttab li.active {
    background-color: #4285F4;
  }
  .intexttab li.active a{
    color: white !important;
  }

</style>
<div class="md-content discussion_page ">
  <div class="wrapper-md ng-scope" style="background: #f4f4fb; padding:0 10px;">

    <div class="modal-header" style="min-height:60px;">
      <h3 class="modal-title" style="display: block;">
        <span>Discussion Board</span>
        <!-- <button class="btn linguistDiscussion" data-sort-key="isLinguist=='true' ? 1 : 0" ng-class=" {'btn-default':!isLinguist, 'btn-success':isLinguist }" ng-click="chatLinguist()"  style="margin-left:20px;">{{  isLinguist ? 'Linguist' : 'Internal' }} Chat</button> -->
        <button class="btn linguistDiscussion" ng-click="reloadScoop()" style="margin-left:20px;"> <i
            class="fa fa-refresh"></i></button>

      </h3>
      <!-- <div ng-click="cancel()" style="margin-rigth:10px;"><a><i class="fa fa-times-circle"></i></a></div> -->
      <button type="button" class="bootbox-close-button close" data-dismiss="modal" 
        ng-click="cancel()" style="font-size: 30px;">×</button>
    </div>
    <div class="modal-body" style="padding:0 15px;">
      <div>
        <div class="col-sm-12"></div>
        <div >
          <div class="nav-tabs-alt">
            <ul class="nav nav-tabs intexttab">
              <li ng-class="{active: selectedTab === 1}">
                <a href="" ng-click="selectTab(1)">Internal </a>
              </li>
              <li ng-class="{active: selectedTab === 2}">
                <a href="" ng-click="selectTab(2)">External </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="tab-content">
          <div class="tab-pane " ng-class="{active: selectedTab === 1}" id="tab-1" ng-show="selectedTab === 1">
            <div class="d-flex">
              <div style="margin-left: 30px;width:20%;">
                <!-- <label> Select scoop</label>
                  <select class="form-control m-b" id="selectScoop2" name="selectScoop" ng-model="selectScoop"
                    ng-init="itemsDropdown.itemId = 'select'" ng-change="scoopChange(selectScoop)">
                    <option value="select">--Please Select scoop--</option>
                    <option ng-repeat="itm in itemsDropdown track by $index" value="{{itm.itemId}}">
                      {{itm.order_no}}-{{itm.item_number | numberFixedLen:3}}</option>
                  </select> -->
              </div>
              <!-- <button class="btn linguistDiscussion" ng-click="reloadScoop()" style="margin-left:20px;"> <i class="fa fa-refresh"></i></button> -->
            </div>
          </div>

          <!-- <div class="tab-pane" id="tab-2" ng-class="{active: selectedTab === 2}" ng-show="selectedTab === 2">
            <div class="d-flex">
              <div style="margin-left:30px;margin-bottom:25px;width:30%;">
                <label> Select Job </label>
                <input type="text" select2-jobs typeid="{{orderId}}" scoopItemnumber="{{scoopItemnumber}}"
                  id="linguistJob" class="form-control" name="linguistJob" ng-model="linguistJob"
                  ng-change="changeLinguistJob(linguistJob)" />
              </div>
            </div>
          </div> -->

        </div>
      </div>
    </div>
    <div class="panel panel-default" style="background: #f4f4fb;">

      <!-- <div class="panel-heading">Chat </div> -->
      <div class="panel-body chatbox">
        <div class="row d-flex">
          <div class="col-sm-8 livemsg w-100">
            <div id="comments-container" ng-show=" selectedTab == 2 || selectedTab == 1 "></div>
            <!-- <div id="comments-container" ng-hide=" selectedTab == 2 && linguistJob == 0 "></div> -->
          </div>
          <div class="col-md-4 statusBox" style="margin-top:25px;">
            <span style="display: inline-block; padding:0px 20px 10px 20px"><b> Discussion Board </b></span>
            <div class="navside white r box-shadow-z0 nav-center" layout="column">
              <div flex-no-shrink="" style="background:#fff; border-radius: 5px;">
                <nav ui-nav="">
                  <ul class="nav">
                    <li class="projectName">
                      <div>
                        <div> <span>Project:  </span> <span style="margin-left: 5px;">{{scoopSidebarDetail.order_no }} </span> </div>
                        <div class="mt-15 d-flex" ng-if="selectedTab==1">
                          <span style="padding: 6px 6px 0 0;">Scoop</span>
                          <select class="form-control m-b" id="selectScoop" name="selectScoop" ng-model="selectScoop"
                             ng-change="scoopChange(selectScoop)">
                            <option value="select">--Please Select scoop-- </option>
                            <option ng-repeat="itm in itemsDropdown track by $index" value="{{itm.itemId}}">
                              {{itm.order_no}}-{{itm.item_number | numberFixedLen:3}}</option>

                          </select>
                        </div>
                        <div class="mt-15 d-flex" ng-if="selectedTab==2">
                          <span>Job </span>
                          <!-- removed scoopItemnumber="{{scoopItemnumber}}" -->
                          <input type="text" select2-jobs typeid="{{orderId}}" isMultiple="false" id="linguistJob"
                            class="form-control" name="linguistJob" ng-model="linguistJob"
                            ng-change="changeLinguistJob(linguistJob)" />
                        </div>

                      </div>

                    </li>
                    <li class="userSection">
                      <span class="sec-title">Project Members:</span>

                      <div>
                        <div class="user-info">
                          <div>
                            <span class="designation"> <strong>Project Manager:</strong> </span>
                          </div>
                          <div class="user-name">
                            <span> {{scoopSidebarDetail.pm_fullName }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="mt-15">
                        <div class="user-info">
                          <div>
                            <span class="designation"> <strong>Project Coordinator:</strong> </span>
                          </div>
                          <div class="user-name">
                            <span> {{scoopSidebarDetail.pc_fullName }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="mt-15">
                        <div class="user-info">
                          <div>
                            <span class="designation"> <strong>QA Specialist:</strong> </span>
                          </div>
                          <div class="user-name">
                            <span> {{scoopSidebarDetail.qa_fullName }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="mt-15">
                        <div class="user-info">
                          <div>
                            <span class="designation"> <strong>Linguist:</strong> </span>
                          </div>
                          <div class="user-name" ng-repeat="linguist in jobLinguist" ng-if="selectedTab==1">
                            <span> {{linguist.vUserName}} </span>
                          </div>
                          <div class="user-name" ng-if="selectedTab==2">
                            <span> {{scoopSidebarDetail.resource_name}} </span>
                          </div>

                        </div>
                      </div>

                    </li>

                    <li class="task-price" style="display: block;">
                      <div>
                        <div class="">
                          <label>job Type: <span>{{scoopSidebarDetail.project_type_code }} </span> </label>
                        </div>

                      </div>
                      <div class="mt-15">
                        <div class="">
                          <label ng-if="selectedTab==1">scoop Price: <span> {{projectPriceChat}}
                              {{scoopSidebarDetail.client_currency.split(',')[0] }}</span> </label>
                          <label ng-if="selectedTab==2">Job Price: <span> {{scoopSidebarDetail.job_price}}
                              {{scoopSidebarDetail.linguist_currency.split(',')[0]}}</span> </label>
                          <!-- <label>scoop Price: <span>{{ projectPriceChat.total_amount |
                                filterCurrencyComma:currencyName }} </span> </label> -->
                        </div>

                      </div>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>


  </div>
</div>
</div>
<!-- <div class="modal-footer">                  
    <button class="btn btn-info" ng-click="cancel()">Cancel</button>
</div> -->
</div>
<script>

  $(document).ready(function () {
    setTimeout(() => {
      // jQuery('#comment-list').scrollTop(jQuery('#comment-list')[0].scrollHeight);
      // jQuery('#attachment-list').scrollTop(jQuery('#attachment-list')[0].scrollHeight);
    }, 100);
  });

</script>