<style type="text/css">
  .modal-dialog{
    width: 80%;
  }
  .chatbox{
    padding: 15px 15px 130px 15px
  }
  .jquery-comments .commenting-field.main {
    position: absolute;
    bottom: -120px;
    width: 95%;
  }
  .arrow.left:after {
/*    border-right-color: #edf1f2;*/
  }
  .commenting-field.main .profile-picture{
    float: left;
  }
  .jquery-comments ul.main li.comment {
      width: 50%;
      float: right;
  }
  .jquery-comments ul.main li.comment .wrapper .content a.attachment > * {
    max-height: 125px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .jquery-comments ul.main li.comment .comment-wrapper {
    border-top: none; 
  }
  .userpic{
    width: 40px;
    float: left;
    margin-left: 10px;
  }
  .cmtright .name{
    margin-right: 5px;
  }
  .cmtright .profile-picture,.cmtright .name{
    float: right;
  }
  .cmtright time{
    float: left !important;
    position: absolute;
    padding: 8px 0px 0px 25px;
  }  
  .cmtright .content{
    float: right;
    width: 100%;
    background-color: #2196f3d6;
    color: white;
    text-align: left;
    padding: 15px 12px;
    margin: 20px -15px 0 0;
    border-radius: 5px 5px 5px 5px;
  }
  .cmtleft .profile-picture,.cmtleft .name{
    float: left !important;
  }
  .cmtleft .content{
    border-color: #edf1f2;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 15px 11px;
    margin-left: 45px;
    border-radius: 5px 5px 5px 5px;
    background-color: white !important;
    color: gray !important;
  }
  .cmtleft time{
    padding: 4px 17px 0px 0 !important;
    position: absolute !important;
    left: 37%;
  }  
 
  .bgclr{
    background-color: #fff !important;
    border: none !important;
  }

  .livemsg .name{
    margin-right: 5px;
  }
  .livemsg .profile-picture,.livemsg .name{
    float: right;
  }
  .livemsg time{
    float: left;
    position: absolute;
    padding: 8px 0px 0px 25px;
  }  
  .livemsg .content{
    float: right;
    width: 100%;
    background-color: #2196f3d6;
    color: white;
    text-align: left;
    padding: 15px 12px;
    margin: 20px -15px 0 0;
    border-radius: 5px 5px 5px 5px;
  }
  .textcomplete-item .details .name{
    float: none;
    margin-right: auto;
  } 
</style>
<div class="modal-header" style="min-height:60px;">
    <div class="modal-title">
        <div class="pull-left">Discussion Board</div>
    </div>
</div>
<div class="modal-body">
    
    <div class="wrapper-md ng-scope">
      
      <div class="panel panel-default">
        <div class="panel-heading">Chat </div>
        <div class="panel-body chatbox">
          
        <div class="row">
          <div class="row">
              <div class="col-md-12 livemsg" id="comments-container">

              </div>
          </div>
        </div>

          <!-- <div class="m-b">
            <div class="pull-left" style="width:60%;">  
              <a href class="pull-left thumb-sm avatar"><img src="img/a2.jpg" alt="..."></a>
              <div class="m-l-xxl">
                <div class="pos-rlt wrapper b bg-light r r-2x">
                  <span class="arrow left pull-up"></span>
                  <p class="m-b-none">Hi John, What's up...</p>
                </div>
                <small class="text-muted"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
              </div>
            </div>
          </div>
          <div class="m-b">
            <div class="pull-right" style="width:60%;">
              <a href class="pull-right thumb-sm avatar"><img src="img/a3.jpg" class="img-circle" alt="..."></a>
              <div class="m-r-xxl">
                <div class="pos-rlt wrapper bg-info r r-2x">
                  <span class="arrow right pull-up arrow-info"></span>
                  <p class="m-b-none">Yeah <br>It's working fine...</p>
                </div>
                <small class="text-muted">1 minutes ago</small>
              </div>
            </div>
          </div>  -->                         
        </div>
        <!-- <footer class="panel-footer">
          <div>
            <a class="pull-left thumb-xs avatar"><img src="img/a3.jpg" class="img-circle" alt="..."></a>
            <form class="m-b-none m-l-xl">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Type your message...">
                <span class="input-group-btn">
                  <button class="btn btn-dark bg-primary" type="button" ng-click="postComment()">SEND</button>
                </span>
              </div>
            </form>
          </div>
        </footer> -->
      </div>      
          
  </div>
</div>
<div class="modal-footer">                  
    <button class="btn btn-info" ng-click="cancel()">Cancel</button>
</div>
