<div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1"
    data-ng-include=" 'tpl/material.header.html' ">
</div>
<div layout="row">
    <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs"
        data-ng-include=" 'tpl/material.aside.html' ">
    </div>
    <div flex layout="column">
        <div ui-butterbar></div>
        <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside"></a>
        <div class="md-content page_content_wrapper" id="top">

            <div class="content_head bg-light lter b-b wrapper-md ng-scope">
                <h1 class="m-n font-thin h3">Currency </h1>
            </div>
            <div class="wrapper-md ng-scope">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form id="adminCurrency">
                            <div class="row">
                                <!-- <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <input type="text" class="form-control" id="courncyDescription" name="courncyDescription" ng-model="currency.country_name">
                                            </div>
                                        </div> -->
                                <!-- <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Currency code</label>
                                                <input type="text" name="currency_code" class="form-control" placeholder="Enter Currency code"  ng-model="currency.currency_code" required>
                                        
                                            </div>
                                        </div> -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Currency Code</label>
                                        <input type="text" select2-currency-convert data-typeid="1" id="currencyCoded"
                                            class="form-control" name="currencyCoded" ng-model="currency.currency_code"
                                            required ng-change="currencyChange(currency.currency_code)" />
                                    </div>
                                </div>
                                <!-- <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Date</label>
                                                <input type="text" class="form-control" id="Currencydate" ng-upcomming-date name="Currencydate" ng-model="currency.date" required onkeydown="return false">
                                            </div>
                                        </div> -->
                                <!-- <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Rate</label>
                                                <input type="number" min="0" class="form-control" placeholder="Enter Rate" name="currencyRate" ng-model="currency.rate" required id="currencyRate">
                                            </div>
                                        </div> -->
                                <!-- <div class="col-sm-4">
                                            <div class="checkbox">
                                                <label ng-if="checkFront==1 && edcFront==1" class="i-checks i-checks-sm" style="padding-top: 20px;">
                                                    <input type="checkbox" name="is_active" ng-true-value="1" ng-false-value="0" ng-model="currency.currency_front" ng-checked="currency.currency_front == 1">
                                                    <i></i>
                                                    Currency in front of amount (Set as Active)
                                                </label>
                                                <label ng-if="checkFront==1 && edcFront!=1" class="i-checks i-checks-sm" style="padding-top: 20px;">
                                                    <input type="checkbox" name="is_active" ng-true-value="1" ng-false-value="0" ng-model="currency.currency_front" ng-checked="checkFront==1" disabled>
                                                    <i></i>
                                                    Currency in front of amount (Set as Active)
                                                </label>
                                                <label ng-if="checkFront!=1 && edcFront!=1" class="i-checks i-checks-sm" style="padding-top: 20px;">
                                                    <input type="checkbox" name="is_active" ng-true-value="1" ng-false-value="0" ng-model="currency.currency_front" ng-checked="currency.currency_front == 1">
                                                    <i></i>
                                                    Currency in front of amount (Set as Active)
                                                </label>
                                            </div>
                                        </div> -->
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label class="i-checks i-checks-sm" style="padding-top: 20px;">
                                            <input type="checkbox" name="is_active" ng-true-value="1" ng-false-value="0"
                                                ng-model="currency.ob_exchange_rate_auto"
                                                ng-checked="currency.ob_exchange_rate_auto == 1">
                                            <i></i>
                                            Obtain Exchange Rate automatically at night
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer pl-0 pr-0">
                                <button class="btn btn-info " ng-click="save('adminCurrency');"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                        <thead>
                            <th>#</th>
                            <th>Currency name</th>
                            <th>ISO Code</th>
                            <th>Rate</th>
                            <!-- <th>Currency front</th> -->
                            <!-- <th>Date</th> -->
                            <th>Exchange Rate automatically at night</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="t in currencyData"
                                ng-class="(t.currency_id == currency.currency_id) ? 'rowactivate' : ''">
                                <td ng-bind="$index + 1"></td>
                                <td>
                                    <span style="display:none;" id="country_name{{$index}}"
                                        ng-bind="t.country_name"></span>
                                    <span ng-bind="t.currency_name"></span>
                                </td>
                                <td><span ng-bind="t.country_name"></span></td>
                                <!--  <td ng-hide="currencyDef=={{$index}}" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"><span  ng-bind="t.country_name"></span>&nbsp;<span ng-if="$index==0" ng-show="hoverEdit"><a href="javascript:void(0)" ng-click="getCurr($index,t.currency_code);" title="edit"><i class="glyph-icon fa-edit"></i></a></span></td>
                                               <td ng-show="currencyDef=={{$index}}">
                                                   <input type="text" select2-currency-convert data-typeid="1" id="currencyListCode{{$index}}" class="form-control" name="currencyCode"   ng-model="currencyListCode" required ng-change="currencyListChange(currencyListCode,t.currency_id,t.country_name,t.date)"/>
                                               </td> -->
                                <td> <span ng-if="t.default_front=='1'">1.0 {{t.country_name}} = 1.0
                                        {{t.country_name}}</span>
                                    <span ng-if="t.default_front!='1'">
                                        <p>1.0 {{def}} = {{t.current_curency_rate}} {{t.country_name}} </p>
                                        <!-- <p> 1,0 {{t.country_name}} = {{t.c_current}} {{def}}</p> -->
                                    </span>
                                    <span class="currencyRate{{$index}} none"></span>
                                </td>
                                <!-- <td ng-if="t.currency_front == '1'"><span ng-if="t.default!=1" class="label bg-success" title="active">Active</span ng-if="t.default==1"><span></span></td>
                                                <td ng-if="t.currency_front == '0'"><span ng-if="t.default!=1" class="label bg-danger" title="Inactive">Inactive</span><span ng-if="t.default==1"></span></td> -->
                                <!-- <td ng-bind="t.date"></td> -->
                                <td ng-if="t.ob_exchange_rate_auto == '1'"><span ng-if="t.default_front==1"></span><span
                                        class="label bg-success" title="active" ng-if="t.default_front!=1">Active</span>
                                </td>
                                <td ng-if="t.ob_exchange_rate_auto == '0'"><span <span
                                        ng-if="t.default_front!=1"></span> <span class="label bg-danger"
                                        title="Inactive">Inactive</span><span ng-if="t.default_front==1"></span></td>
                                <td>
                                    <span ng-if="t.default_front=='1'">Default</span>
                                    <span ng-if="t.default_front!='1'">
                                        <a href="javascript:void(0)" ng-click="getType(t.currency_id, $index, 'top');"
                                            title="edit"><i class="glyph-icon fa-edit"></i></a>
                                        <a href="javascript:void(0)" ng-click="deleteModel(t.currency_id)"
                                            title="delete"><i class="iconDelete glyph-icon fa-times"></i></a>
                                    </span>
                                </td>
                            </tr>
                            <tr ng-show="currencyEmpty">
                                <td colspan="4" ng-bind="dataNotFound"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- footer copy right -->
                <div data-ng-include="'tpl/copyRight.html'"></div>
            </div>
        </div>
    </div>