<div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1" data-ng-include=" 'tpl/material.header.html' ">
</div>
<div layout="row">
    <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs" data-ng-include=" 'tpl/material.aside.html' ">
    </div>
    <div flex layout="column">
        <div ui-butterbar></div>
        <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside"></a>
        <div class="md-content page_content_wrapper" id="top">
            <div class="content_head bg-light lter b-b wrapper-md ng-scope">
                <h1 class="m-n font-thin h3">Date Format</h1>
            </div>
            <div class="wrapper-md ng-scope">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form id="dateformat-form">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Select Date Format</label>
                                        <input type="text" id="dateFormat" class="form-control" id="dateFormat" name="dateFormat" select2-date-format ng-model="dateModel.dateFormat" ng-change="changeFormat();" required/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Select Separator</label>
                                        <input type="text" id="dateSeparator" class="form-control" id="dateSeparator" name="dateSeparator" select2-date-separator ng-model="dateModel.dateSeparator" ng-change="changeDateSeparator();" required/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox">
                                        <label class="i-checks i-checks-sm" style="padding-top: 20px;">
                                            <input type="checkbox" name="is_active" ng-true-value="1" ng-false-value="0" ng-model="dateModel.is_active" ng-checked="dateModel.is_active == 1">
                                            <i></i> Active (Set as Active)
                                        </label>
                                    </div>
                                </div>
                               <!--  <div class="col-sm-3">
                                   <p ng-if="dateFormatD" style="position: relative;margin-left: -30%;margin-top:13%;">
                                       Date will be display like
                                       <span style="color:#4284f5;">{{ toDayDate | date :dateFormatD}}</span> .
                                   </p>
                               </div> -->
                            </div>
                            <div class="panel-footer pl-0 pr-0">
                                <button class="btn btn-info " ng-click="save('dateformat-form');"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                            </div>
                           
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <h4 style=";margin-top:%;">
                                    System date will be display like
                                    <span style="color:#4284f5;">{{ toDayDate | date :dateFormatD}}</span> .
                                </h4>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <table class="table table-striped b-t b-b table-bordered" datatable="ng">
                        <thead>
                            <th>#</th>
                            <th>Date Format</th>
                            <th>Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dt in dtFormatList" ng-class="(dt.dateformat_id == date.dateformat_id) ? 'rowactivate' : ''">
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="dt.dateformat"></td>
                                <td ng-if="dt.is_active == '1'"><span class="label bg-success" title="active">Active</span></td>
                                <td ng-if="dt.is_active == '0'"><span class="label bg-danger" title="Inactive">Inactive</span></td>
                                <td><a href="javascript:void(0)" ng-click="getEdit(dt.dateformat_id, 'top');" title="edit"><i class="glyph-icon fa-edit"></i></a> <a href="javascript:void(0)" ng-click="deleteModel(dt.dateformat_id)" title="delete"><i class="iconDelete glyph-icon fa-times"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- footer copy right -->
              <div data-ng-include="'tpl/copyRight.html'"></div>
            </div>
        </div>
    </div>