<div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1" data-ng-include=" 'tpl/material.header.html' ">
</div>
<div layout="row">
    <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs" data-ng-include=" 'tpl/material.aside.html' ">
    </div>
    <div flex layout="column">
        <div ui-butterbar></div>
        <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside"></a>
        <div class="md-content page_content_wrapper" id="top">
            <div class="content_head bg-light lter b-b wrapper-md d-flex justify-space-between ng-scope">
                <h1 class="m-n font-thin h3">Decimal Separator</h1>
                
            </div>
            <div class="wrapper-md ng-scope">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form id="decimalSeparator-form">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Select Decimal separator</label>
                                        <input type="text" class="form-control" id="separatorChar" name="separatorChar" select2-decimal-separator ng-model="separator.separatorChar" ng-change="changeDecimalSeparator();" required/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Decimal Number</label>
                                        <input type="number" class="form-control" id="decimal_number" name="decimal_number" ng-model="separator.decimal_number" min="1" max="5" required/>
                                    </div>
                                </div>
                                 
                                <div class="col-sm-3">
                                    <div class="checkbox">
                                        <label class="i-checks i-checks-sm" style="padding-top: 20px;">
                                            <input type="checkbox" name="is_active" ng-true-value="1" ng-false-value="0" ng-model="separator.is_active" ng-checked="separator.is_active == 1">
                                            <i></i> Active (Set as Active)
                                        </label>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="panel-footer pl-0 pr-0">
                                <button class="btn btn-info " ng-click="save('decimalSeparator-form');"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                            </div>
                           
                        </form> 
                    </div>
                </div>
                 
                <div class="panel panel-default">
                    <table class="table table-striped b-t b-b table-bordered" datatable="ng">
                        <thead>
                            <th>#</th>
                            <th>Decimal Separator</th>
                            <th>Decimal Number</th>
                            <th>Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dts in seperatorList" ng-class="(dts.separator_id == separator.separator_id) ? 'rowactivate' : ''">
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="dts.separatorChar"></td>
                                <td>
                                    <span ng-bind="dts.decimal_number" ng-if="dts.is_active == '1'"></span>
                                    <span ng-if="dts.is_active == '0'">-</span>
                                </td>
                                <td ng-if="dts.is_active == '1'"><span class="label bg-success" title="active">Active</span></td>
                                <td ng-if="dts.is_active == '0'"><span class="label bg-danger" title="Inactive">Inactive</span></td>
                                <td><a href="javascript:void(0)" ng-click="getEdit(dts.separator_id, 'top');" title="edit"><i class="glyph-icon fa-edit"></i></a>  <a href="javascript:void(0)" ng-click="deleteModel(dts.separator_id)" title="delete"><i class="iconDelete glyph-icon fa-times"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- footer copy right -->
                <div data-ng-include="'tpl/copyRight.html'"></div>
            </div>
        </div>
    </div>