<style>
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #f9f9f9;
    }
</style>
<div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1"
    data-ng-include=" 'tpl/material.header.html' ">
</div>
<div layout="row">
    <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs"
        data-ng-include=" 'tpl/material.aside.html' ">
    </div>
    <div flex layout="column">
        <div ui-butterbar></div>
        <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside"></a>
        <div class="md-content page_content_wrapper">
            <div class="content_head bg-light lter b-b wrapper-md ng-scope">
                <a id="editInvoiceSave" class="btn btn-info pull-right invcBtn btnSave" ng-hide="editDisabled"
                    ng-click="editInvoiceLinguist(invoiceDetail.invoice_number)"><i class="fa fa-pencil"></i> Edit & Save </a>
                <a href="" class="btn btn-sm btn-info btnSave pull-right" ng-show="reminderBtnHideShow"
                    ng-click="sendRemiderinvoice(invoiceDetail.invoice_number)">Send Reminder</a>
                <a href="" class="btn btn-sm btn-info pull-right"
                    ng-click="printIt(invoiceDetail.invoice_number)">Download</a>
                <a ng-show="userRight==1" href="javascript:history.back()" class="btn btn-sm btn-info pull-right"
                    style="margin-right: 10px;"><span class="fa fa-arrow-left"></span> Back</a>
                <a ng-show="userRight==2" href="javascript:history.back()" class="btn btn-sm btn-info pull-right"
                    style="margin-right: 10px;"><span class="fa fa-arrow-left"></span> Back</a>
                <h1 class="m-n font-thin h3">Invoice</h1>
            </div>
            <div class="wrapper-md ng-scope">
                <div class="panel panel-default invoiceInput" id="exportable">
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <!-- <div class="col-xs-12">
                                <img ng-src="uploads/profilePic/{{invoiceDetail.freelancePic}}" width="80" height="80" style="border-radius: 100px;">
                            </div> -->
                            <div class="col-sm-12">
                                <div class="col text-right">
                                    <!-- <img ng-src="uploads/tms_logo.png" style="border-radius: 100px;max-width: 250px;"> -->
                                    <img ng-src="uploads/logo/{{invoiceDetail.clientLogo}}"
                                        style="height: 100px;max-width:250px;">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <p>
                                    <img ng-src="uploads/profilePic/{{invoiceDetail.freelancePic}}" width="70"
                                        height="70" style="border-radius: 100px;">
                                </p>
                                <h4 ng-bind="invoiceDetail.freelanceName"></h4>
                                <p>
                                    {{invoiceDetail.freelanceAddress}} </br>
                                    {{freelanceZipcode}} , {{freelanceCity}} </br>
                                    {{freelanceCountry}}
                                </p>
                                <p>
                                    Vat Number : <span>{{vatNo}}</span> </br>
                                    Email : {{invoiceDetail.freelanceEmail}}
                                </p>

                            </div>
                            <div class="col-xs-6" style="text-align:right;">
                                <p class="h4"> <strong>#{{invoiceDetail.invoice_number}}</strong> </p></br>
                                <p>
                                    <span>Invoice date : </span>
                                    <span ng-bind="invoiceDetail.invoice_date"></span>
                                </p>
                                <p>
                                    Payment due date : <span ng-bind="invoiceDetail.paymentDueDate"></span>
                                </p>
                                <p>
                                    {{invoiceDetail.companyName}} </br>
                                    {{invoiceDetail.companyAddress}} </br>
                                    {{clientZipcode}} <span ng-if="clientCity"> , {{clientCity}}</span> </br>
                                    {{clientCountry}} </br>
                                    Vat Number : {{invoiceDetail.clientVatinfo}} </br>


                                </p>
                            </div>
                            <div class="col-xs-12 well"
                                ng-if="invoiceDetail.custom_invoice_no!='' && invoiceDetail.custom_invoice_no != invoiceDetail.invoice_number"
                                style="padding:10px;margin-bottom:10px;">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <strong>Linguist Invoice No</strong> : {{invoiceDetail.custom_invoice_no}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 well none">
                                <div class="col-xs-6">
                                    <p class="m-t m-b">
                                        <span>Job
                                            <!-- Number --> :
                                        </span>
                                        <strong ng-bind="invoiceDetail.poNumber.split('_')[1]"></strong></br>
                                        <span>Project Number : </span>
                                        <strong ng-bind="invoiceDetail.poNumber.split('_')[0]"></strong></br>
                                    </p>
                                </div>
                                <div class="col-xs-6">
                                    <strong>Company:</strong>
                                    <h4 ng-bind="invoiceDetail.companyName"></h4>
                                    <p>
                                        <span ng-bind="invoiceDetail.companyAddress"></span></br>
                                        Phone: <span ng-bind="invoiceDetail.companyPhone"></span>
                                        <!-- <br> Email: <span ng-bind="invoiceDetail.companyEmail"></span>
                                        <br> -->
                                    </p>
                                </div>
                            </div>
                            <table ng-init="invoiceLength = invoiceList.length - 1" ng-init="invL.item.subTotal = {}"
                                class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 60px">#</th>
                                        <th style="width: 230px">Job Number</th>
                                        <!-- <th>QUANTITY</th> -->
                                        <th style="width: 140px">Job Description</th>
                                        <th style="width: 90px">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="invL in invoiceList track by $index">
                                        <td style="width: 60px">{{$index + 1}}</td>
                                        <td>{{invL.poNumber}}</td>
                                        <td style="width: 230px">{{invL.poNumber.split('_')[1]}}</td>
                                        <td style="width: 90px">
                                            {{invL.price_per_job | customNumber}}
                                            <input class="invoiceCal form-control itemVal_{{invL.jobId}}"
                                                ng-show="editInvoiceField" type="text" ng-model="invL.price_per_job" ng-disabled="editDisabled"
                                                id="invSubTotal{{$index}}"
                                                ng-change="changeInvoiceField($index,$parent.$index,invL.price_per_job,'itemPrice')"
                                                name="itemVal_{{invL.jobId}}" />
                                        </td>
                                    </tr>
                                    <!-- <tr ng-repeat="jobpr in invL.jobpriceList track by $index">
                                        <td ng-bind="$index+1"></td>
                                        <td ng-bind="jobpr.pricelist"></td>
                                        <td ng-bind="jobpr.quantity"></td>
                                        <td ng-bind="jobpr.itemPrice"></td>
                                        <td ng-bind="jobpr.itemTotal | customNumber"></td>
                                        <td class="none" ng-init="invL.jobpr.jobsubTotal = invL.jobpr.jobsubTotal + jobpr.itemTotal"></td>
                                    </tr> -->
                                    <tr>
                                        <td colspan="3" class="text-right"><strong>Subtotal</strong></td>
                                        <td style="width:10%;">
                                            <!-- {{invoiceTotal | customNumber}} -->
                                            <input class="form-control" ng-show="editInvoiceField" type="text"
                                                ng-model="invoiceTotal" ng-disabled="editDisabled"
                                                ng-change="changeInvoiceField($index,$parent.$index,invoiceTotal,'invoiceTotal')"
                                                id="invSubtotal" />
                                        </td>
                                    </tr>
                                    <tr class="tdborder">
                                        <td colspan="3" class="text-right no-border"><strong>Vat Tax</strong></td>
                                        <td>
                                            <input class="form-control" ng-show="editInvoiceField" ng-disabled="editDisabled" type="text"
                                                ng-model="vat"
                                                ng-change="changeInvoiceField($index, $parent.$index, vat, 'vat')" />
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td colspan="3" class="text-right no-border"><strong>VAT Included in Total</strong></td>
                                        <td>{{currencyType}} 0.00</td>
                                    </tr> -->
                                    <tr class="tdborder">
                                        <td colspan="3" class="text-right no-border"><strong>Total </strong></td>
                                        <td style="white-space: nowrap;">
                                            {{grandJobTotal | customNumber}}
                                        </td>
                                    </tr>
                                    <tr ng-if="invoiceDetail.paid_amount > 0" class="tdborder">
                                        <td colspan="3" class="text-right no-border"><strong>Paid
                                            </strong></td>
                                        <td style="width:10%;">{{invoiceDetail.paid_amount | customNumber}}</td>
                                    </tr>
                                    <tr ng-if="invoiceDetail.paid_amount > 0" class="tdborder">
                                        <td colspan="3" class="text-right no-border"><strong>Total Due Amount</strong>
                                        </td>
                                        <td style="white-space: nowrap;">{{grandJobTotal -
                                            invoiceDetail.paid_amount | customNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-sm-12" style="padding:0;bottom:15px;top:3px">
                                <p class="m-t m-b" style="font-weight:600;background: #edf1f2; padding: 11px;">Payment
                                    Information:</p>
                                <div class="col-sm-6" ng-if="currencyPaymentMethod == 'Bank Transfer'">
                                    <table class="table table-striped b-t b-b table-bordered">
                                        <tbody>
                                            <tr>
                                                <th><span class="TblSpan">Payment Method</span></th>
                                                <td><span ng-bind="vBankInfo.payment_method" class="ng-binding"></span>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <th><span class="TblSpan">Bank Address</span></th>
                                                <td><span ng-bind="vBankInfo.address" class="ng-binding"></span></td>
                                            </tr> -->
                                            <tr>
                                                <th><span class="TblSpan">Account Holder</span></th>
                                                <td><span ng-bind="vBankInfo.holder_name" class="ng-binding"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="TblSpan">Currency</span></th>
                                                <td><span ng-bind="vBankInfo.currency_code" class="ng-binding"></span>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6" ng-if="currencyPaymentMethod == 'Bank Transfer'">
                                    <table class="table table-striped b-t b-b table-bordered">
                                        <tbody>
                                            <tr>
                                                <th><span class="TblSpan">IBAN</span></th>
                                                <td><span ng-bind="vBankInfo.iban" class="ng-binding"></span></td>
                                            </tr>
                                            <tr>
                                                <th><span class="TblSpan">SWIFT/BIC</span></th>
                                                <td><span ng-bind="vBankInfo.bic" class="ng-binding"></span></td>
                                            </tr>
                                            <!-- <tr>
                                          <th><span class="TblSpan">Routing Number</span></th>
                                          <td><span ng-bind="vBankInfo.bank_code" class="ng-binding"></span></td>
                                        </tr> -->
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-sm-6" ng-if="currencyPaymentMethod == 'Paypal'">
                                    <table class="table table-striped b-t b-b table-bordered">
                                        <tbody>
                                            <tr>
                                                <th><span class="TblSpan">Paysera Account</span></th>
                                                <td><span ng-bind="vBankInfo.paypal_address" class="ng-binding"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <p class="m-t m-b">Payment Method:
                                    <br>
                                    <span ng-if="currencyPaymentMethod == 'Bank Transfer'">
                                                          <input type="radio" id="Bank" name="paymentType" ng-init="currencyPaymentMethod == 'Bank Transfer'" ng-model="invoiceDetail.payment" ng-value='"Bank"' disabled> Bank
                                                        </span>
                                    <span ng-if="currencyPaymentMethod == 'Paypal'">
                                                          <input type="radio" id="Paypal" name="paymentType" ng-model="invoiceDetail.payment" ng-value='"Paypal"' disabled> Paypal
                                                        </span>
                                </p> -->
                            </div>
                            <div id="toAddEleAfterDwonload"></div>
                            <button id="btnPaid" ng-show="userRight==1" class="btn btn-info btnSave"
                                ng-click="invoicePaid('invoice-form');"> Paid</button>
                            <button id="btnMarkAsCancel" ng-show="userRight==1 && invoiceDetail.invoice_status=='Open'"
                                class="btn btn-info btnSave" ng-click="invoiceCancel('invoice-form');">Mark as
                                cancel</button>
                            <!-- <button id="btnSave" ng-show="invoiceDetail.invoice_type!='save'"
                                class="btn btn-info btnSave" ng-click="save('invoice-form', 'save');"><i
                                    class="fa fa-floppy-o" aria-hidden="true"></i> Save</button> -->
                            <button id="btnDraft" ng-show="!invoiceDetail.invoice_type" class="btn btn-info"
                                ng-click="save('invoice-form', 'draft');"> Draft</button>
                            <button id="btnCancel" ng-show="!invoiceDetail.invoice_type" class="btn btn-info"
                                ng-click="cancel();"> Cancel</button>
                            <button id="btnApproved" class="btn btn-success btnSave t1"
                                ng-show="invoiceDetail.is_approved==1 && !isPdfdownload"
                                ng-click="invoiceApproved('0');" ng-disabled="isDisabledApprvd"> Approved</button>
                            <button id="btnApproved" class="btn btn-warning btnSave t2"
                                ng-show="invoiceDetail.is_approved==0 && !isPdfdownload"
                                ng-click="invoiceApproved('1');" ng-disabled="isDisabledApprvd"
                                style="color: #454f59 !important;"> UnApproved</button>
                            <button id="editInvoiceSave2" class="btn btn-info btnSave" ng-hide="editDisabled"
                                ng-click="editInvoiceLinguist(invoiceDetail.invoice_number)"><i
                                    class="fa fa-pencil"></i> Edit & Save </button>
                        </div>
                    </div>
                </div>
                <!-- footer copy right -->
                <div data-ng-include="'tpl/copyRight.html'"></div>
            </div>

        </div>

    </div>
</div>