<div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1"
  data-ng-include=" 'tpl/material.header.html' ">
</div>
<div layout="row">
  <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs"
    data-ng-include=" 'tpl/material.aside.html' ">
  </div>
  <div flex layout="column">
    <div ui-butterbar></div>
    <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside"></a>
    <div class="md-content page_content_wrapper">

      <div class="content_head bg-light lter b-b wrapper-md ng-scope">
        <a href="javascript:history.back()" class="btn btn-sm btn-info pull-right" style="margin-right: 10px;"><span
            class="fa fa-arrow-left"></span> Back</a>
        <h1 class="m-n font-thin h3">Invoice</h1>
      </div>
      <div class="wrapper-md ng-scope">
        <div class="panel panel-default">
          <div class="panel-body">
            <form id="invoice-form">
              <!-- <div class="col-sm-12">
                    <a href="" class="btn btn-sm btn-info pull-right" onclick="window.print();">Print</a>
                </div> -->
              <div class="wrapper-md ng-scope">
                <div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="col text-right">
                        <!-- <img ng-src="uploads/tms_logo.png" style="border-radius: 100px;"> -->
                        <img ng-src="uploads/logo/{{invoiceDetail.clientLogo}}" style="height: 100px;max-width:250px;">
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <p>
                        <img ng-src="uploads/profilePic/{{invoiceDetail.freelancePic}}" width="70" height="70"
                          style="border-radius: 100px;">
                      </p>
                      <h4 ng-bind="invoiceDetail.freelanceName"></h4>
                      <!-- <p ng-bind="invoiceDetail.freelanceAddress"></p>
                      <p>
                        Telephone: <span ng-bind="invoiceDetail.freelancePhone"></span>
                      </p> -->
                      <p>
                        {{invoiceDetail.freelanceAddress}} </br>
                        {{freelanceZipcode}} , {{freelanceCity}} </br>
                        {{freelanceCountry}}
                      </p>
                      <p>
                        Vat Number : <span>{{vatNo}}</span> </br>
                        Email : {{invoiceDetail.freelanceEmail}}
                      </p>
                    </div>
                    <div class="col-xs-6 text-right">
                      <p class="h4"> <strong>#{{invoiceDetail.invoiceNumber}}</strong> </p></br>
                      <p>
                        <span>Invoice date : </span>
                        <span ng-bind="invoiceDetail.invoiceDate | globalDtFormat"></span>
                      </p>
                      <p>
                        Payment due date : <span ng-bind="invoiceDetail.paymentDueDate"></span>
                      </p>
                      <!-- <h5>
                        <span>Invoice date : </span><span
                          ng-bind="invoiceDetail.invoiceDate | globalDtFormat"></span></br></br>
                        <span>Payment due date : </span><span
                          ng-bind="invoiceDetail.paymentDueDate | globalDtFormat"></span>
                      </h5> -->
                      <p>
                        {{invoiceDetail.companyName}} </br>
                        {{invoiceDetail.companyAddress}} </br>
                        {{clientZipcode}} <span ng-if="clientCity"> , {{clientCity}}</span> </br>
                        {{clientCountry}} </br>
                        Vat Number : {{invoiceDetail.clientVatinfo}} </br>
                      </p>
                    </div>
                  </div>
                  <div class="well">
                    <div class="row">
                      <div class="col-xs-4 d-flex">
                        <label style="white-space: nowrap; margin-top: 10px;">Invoice No <i
                            class="glyphicon glyphicon-pencil"></i> &nbsp;&nbsp;</label>
                        <input type="text" id="custom_invoice_no" name="custom_invoice_no"
                          ng-model="invoiceDetail.custom_invoice_no" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="well none">
                    <div class="row">
                      <div class="col-xs-6">
                        <!-- <p class="m-t m-b">Order date: <strong>26th Mar 2013</strong><br>
                              Order status: <span class="label bg-success">Shipped</span><br>
                              Order ID: <strong>#9399034</strong>
                          </p> -->
                        <p class="m-t m-b">
                          <span>Job
                            <!-- Number -->:
                          </span><strong ng-bind="invoiceDetail.poNumber.split('_')[1]"></strong></br>
                          <span>Project Number : </span><strong
                            ng-bind="invoiceDetail.poNumber.split('_')[0]"></strong></br>
                        </p>
                      </div>

                      <div class="col-xs-6">
                        <strong>Company:</strong>
                        <h4 ng-bind="invoiceDetail.companyName"></h4>
                        <p>
                          <span ng-bind="invoiceDetail.companyAddress"></span></br>
                          Phone: <span ng-bind="invoiceDetail.companyPhone"></span><br>
                          <!--  Email: <span ng-bind="invoiceDetail.companyEmail"></span><br> -->
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="line"></div>
                  <table ng-init="invoiceLength = invoiceList.length - 1" ng-init="invL.item.subTotal = {}" s
                    class="table table-striped bg-white b-a" id="InvoiceTbl">
                    <thead>
                      <tr>
                        <th style="width: 60px">#</th>
                        <th style="width: 230px">Job Number</th>
                        <!-- <th>QUANTITY</th> -->
                        <th style="width: 140px">Job Description</th>
                        <th style="width: 90px">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="invL in invoiceList track by $index">
                        <td style="width: 60px">{{$index + 1}}</td>
                        <td>{{invL.poNumber}}</td>
                        <td style="width: 230px">{{invL.poNumber.split('_')[1]}}</td>
                        <td style="width: 90px">
                          <!-- {{invL.price_per_job | customNumber}} -->
                          <input class="invoiceCal form-control" type="text" ng-model="invL.price_per_job"
                            id="invSubTotal{{$index}}"
                            ng-change="changeInvoiceField($index,$parent.$index,invL.price_per_job,'itemPrice')"
                            name="itemVal_{{invL.jobId}}" />
                        </td>
                      </tr>
                      <!-- <tr ng-repeat="item in invL.item track by $index">
                        <td ng-bind="$index+1"></td>
                        <td ng-bind="item.pricelist"></td>
                        <td ng-bind="item.itemPrice | customNumber"></td>
                        <td ng-bind="item.itemTotal | customNumber"></td>
                        <td class="none" ng-init="invL.item.subTotal = invL.item.subTotal + item.itemTotal"></td>
                      </tr> -->
                      <tr>
                        <td colspan="3" class="text-right"><strong>Subtotal</strong></td>
                        <td style="width:9%;">
                          <!-- {{grandTotal | customNumber}} -->
                          <input class="form-control" ng-show="editInvoiceField" type="text" ng-model="invoiceTotal"
                            ng-change="changeInvoiceField($index,$parent.$index,invoiceTotal,'invoiceTotal')"
                            id="invSubtotal" />
                          <!-- <span ng-if="!invoiceLength">{{invL.item.subTotal | customNumber}}</span>
                                <span ng-if="invoiceLength">{{invL.item.subTotal * (invoiceLength + 1) | customNumber}}</span> </td> -->
                      </tr>
                      <tr class="tdborder">
                        <td colspan="3" class="text-right no-border"><strong>Tax</strong></td>
                        <td>
                          <input class="form-control" ng-show="editInvoiceField" type="text" ng-model="vat"
                            ng-change="changeInvoiceField($index, $parent.$index, vat, 'vat')" />
                        </td>
                      </tr>
                      <tr class="tdborder">
                        <td colspan="3" class="text-right no-border"><strong>Total</strong></td>
                        <td style="white-space:nowrap;"><strong>
                            <!-- {{currencyType}} -->
                            {{grandTotal | customNumber}}
                            <!-- <span ng-if="!invoiceLength" id="invoiceTotal"> {{invL.item.subTotal | customNumber}}</span> -->
                            <!-- <span ng-if="invoiceLength" id="invoiceTotal"> {{invL.item.subTotal * (invoiceLength + 1) | customNumber}}</span> -->
                          </strong></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-sm-12" style="padding:0;bottom:10px;top:3px">
                    <p class="m-t m-b" style="font-weight:600;background: #edf1f2; padding: 11px;">Payment Information:
                    </p>
                    <div class="col-sm-6" ng-if="currencyPaymentMethod == 'Bank Transfer'">
                      <table class="table table-striped b-t b-b table-bordered">
                        <tbody>
                          <tr>
                            <th><span class="TblSpan">Payment Method</span></th>
                            <td><span ng-bind="vBankInfo.payment_method" class="ng-binding"></span></td>
                          </tr>
                          <!-- <tr>
                            <th><span class="TblSpan">Bank Address</span></th>
                            <td><span ng-bind="vBankInfo.address" class="ng-binding"></span></td>
                          </tr> -->
                          <tr>
                            <th><span class="TblSpan">Account Holder</span></th>
                            <td><span ng-bind="vBankInfo.holder_name" class="ng-binding"></span></td>
                          </tr>
                          <tr>
                            <th><span class="TblSpan">Currency</span></th>
                            <td><span ng-bind="vBankInfo.currency_code" class="ng-binding"></span></td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                    <div class="col-sm-6" ng-if="currencyPaymentMethod == 'Bank Transfer'">
                      <table class="table table-striped b-t b-b table-bordered">
                        <tbody>
                          <tr>
                            <th><span class="TblSpan">IBAN</span></th>
                            <td><span ng-bind="vBankInfo.iban" class="ng-binding"></span></td>
                          </tr>
                          <tr>
                            <th><span class="TblSpan">SWIFT/BIC</span></th>
                            <td><span ng-bind="vBankInfo.bic" class="ng-binding"></span></td>
                          </tr>
                          <!-- <tr>
                            <th><span class="TblSpan">Routing Number</span></th>
                            <td><span ng-bind="vBankInfo.bank_code" class="ng-binding"></span></td>
                          </tr> -->
                        </tbody>
                      </table>
                    </div>
                    <div class="col-sm-6" ng-if="currencyPaymentMethod == 'Paypal'">
                      <table class="table table-striped b-t b-b table-bordered">
                        <tbody>
                          <tr>
                            <th><span class="TblSpan">Paysera Account</span></th>
                            <td><span ng-bind="vBankInfo.paypal_address" class="ng-binding"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- <p class="m-t m-b">Payment Method:
                                    <br>
                                    <span ng-if="currencyPaymentMethod == 'Bank Transfer'">
                                                          <input type="radio" id="Bank" name="paymentType" ng-init="currencyPaymentMethod == 'Bank Transfer'" ng-model="invoiceDetail.payment" ng-value='"Bank"' disabled> Bank
                                                        </span>
                                    <span ng-if="currencyPaymentMethod == 'Paypal'">
                                                          <input type="radio" id="Paypal" name="paymentType" ng-model="invoiceDetail.payment" ng-value='"Paypal"' disabled> Paypal
                                                        </span>
                                </p> -->
                  </div>
                </div>
              </div>
              <button class="btn btn-info btnSave" ng-click="save('invoice-form', 'save');"><i class="fa fa-floppy-o"
                  aria-hidden="true"></i> Save</button>
              <button class="btn btn-info" ng-click="save('invoice-form', 'draft');"> Draft</button>
              <button class="btn btn-info" ng-click="cancel();"> Cancel</button>
          </div>
          </form>
        </div>

        <!-- footer copy right -->
        <div data-ng-include="'tpl/copyRight.html'"></div>
      </div>
    </div>

  </div>
</div>
</div>