<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>table</title>
</head>

<body>
  <div>
    <div class="invoiceContent">
      <div style="width: 210mm; margin: 0 auto;">
        <div class="logo" style="text-align: right;">
          <!-- <img src="https://tms.beconnected.no/assets/img/invoice_logo.png" alt="Logo"> -->
        </div>
        <div>
          <p style="font-family: Arial, Helvetica, sans-serif;color: #919191; margin-bottom:20px;">
            <span>{{invoiceSettingData.company_name}} | </span> <span>{{invoiceSettingData.address1}}, </span>
            <span>{{invoiceSettingData.postcode}}</span> <span>{{invoiceSettingData.city}}, </span>
            <span>{{invoiceSettingData.country}}</span> </p>
        </div>
        <div>
          <p style="margin: 20px 0 15px 0;font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: 700;"> {{invoiceDetail.clientCompanyName}} </p>
        </div>
        <div class="address">
          <p style="margin: 0 0 5px 0;font-family: Arial, Helvetica, sans-serif;"> {{invoiceDetail.companyAddress}} </p>
          <p style="margin: 0 0 5px 0;font-family: Arial, Helvetica, sans-serif;"> {{clientZipcode}} <span
              ng-if="clientCity">{{clientCity}}</span> </p>
          <p style="margin: 0 0 5px 0;font-family: Arial, Helvetica, sans-serif;"> {{clientCountry}}</p>
          <p style="margin: 0 0 5px 0;font-family: Arial, Helvetica, sans-serif;margin-bottom: 20pt;"
            ng-if="invoiceDetail.clientVatinfo"> {{invoiceDetail.clientVatinfo}}</p>
        </div>
        <div style="margin-top: 20pt;">
          <table align="center" style="width: 100mm; border-collapse: collapse; margin-top: 20pt;">
            <thead>
              <tr>
                <td ng-if="isCreditNotePage">Invoice</th>
                <td ng-if="invoiceSettingData.server_no===2 ">Contact</th>
                <td ng-if="invoiceSettingData.server_no===2 && ! isCreditNotePage "> Telephone</th>
                <td ng-if="invoiceSettingData.server_no===2">Email </th>
                <td>Date </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td ng-if="isCreditNotePage"> {{invoiceDetail.custom_invoice_number}}</td>
                <td ng-if="invoiceSettingData.server_no===2"> {{invoiceDetail.freelanceName}} </td>
                <td ng-if="invoiceSettingData.server_no===2 && !isCreditNotePage "> {{invoiceDetail.freelancePhone}}
                </td>
                <td ng-if="invoiceSettingData.server_no===2"> {{invoiceDetail.freelanceEmail}}</td>
                <td> {{invoiceDetail.invoice_date}} </td>
              </tr>
            </tbody>
          </table>

        </div>

        <div>
          <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;" ng-if="isCreditNotePage">
            <strong>Credit Note</strong> <span> {{invoiceCreditNotesNumber}} </span>
          </p>
          <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;" ng-if="! isCreditNotePage">
            <strong>Invoice</strong> <span> {{invoiceDetail.custom_invoice_number}}</span>
          </p>
        </div>

        <div>
          <!-- temp table demo -->
          <div style="margin: 30pt 20pt;">
            <table align="center" style="width: 100mm; border-collapse: collapse; ">
              <thead>
                <tr style="background-color: #bebebe; text-align: center; font-weight: bold;">
                  <th style="width: 100pt;">Project</th>
                  <th style="width: 50pt;">PO Number</th>
                  <th style="width: 50pt;">Price in EUR</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="invL in invoiceList track by $index">
                  <td style="text-align:left;">
                    <p>{{invL.orderNumber}}-{{ invL.item_number | numberFixedLen:3 }} | {{invL.item_name }}</p>
                    <p> {{invL.accounting_inv_comment}} </p>
                  </td>
                  <td>{{invL.po_number}}</td>
                  <td> {{invL.item.itemTotalVal}} </td>
                </tr>
                <tr ng-if="$index == invoiceLength && (invoiceDetail.scoop_additional_detail != '' )">
                  <td colspan="2" style="text-align:left;">
                    {{invoiceDetail.scoop_additional_detail}}
                  </td>
                  <td> {{invoiceDetail.scoop_additional_price}} </td>
                </tr>

                <tr>
                  <td colspan="2" style="background-color: #bebebe;">Subtotal excl. TAX</td>
                  <td style="background-color: #bebebe;">{{invoiceTotal}} </td>
                </tr>
                <tr>
                  <td style="background-color: #bebebe;" colspan="2"> {{vatTax | customNumber}} % TAX </td>
                  <td style="background-color: #bebebe;"> {{vatAmount | customNumber}} </td>
                </tr>
                <tr ng-if="$index == invoiceLength && invL.paid_amount > 0">
                  <td style="background-color: #bebebe;" colspan="2"> Paid </td>
                  <td style="background-color: #bebebe;"> {{invL.paid_amount | customNumber}}</td>
                </tr>
                <tr ng-if="$index == invoiceLength && invL.paid_amount > 0">
                  <td style="background-color: #bebebe;" colspan="2"> Total Due Amount</td>
                  <td style="background-color: #bebebe;"> {{totalDue | customNumber}} </td>
                </tr>
                <tr style="border-top: 6px solid #bebebe;">
                  <td style="background-color: #bebebe;" colspan="2"> <strong>Total Price</strong> </td>
                  <td style="background-color: #bebebe;"
                    style="border-top:1px solid #000; border-bottom:1px solid #000;"> <strong>
                      <span ng-if="isCreditNotePage">-</span> {{grandTotal | customNumber}} </strong> </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- temp table demo -->
        </div>

        <div>
          <p style="font-size: 20px;"> &nbsp;&nbsp; </p>
        </div>

        <div style="margin-bottom: 20pt;">
          <p style="font-family: Arial, Helvetica, sans-serif; margin:15px 0 30px 0; margin-bottom: 20pt;">{{
            invoiceSettingData.description }} </p>
        </div>

        <div style="margin-bottom: 20pt;">
          <p style="font-family: Arial, Helvetica, sans-serif; margin:15px 0 30px 0; margin-bottom: 20pt;">Payment for this invoice is due by {{invoiceDetail.paymentDueDate | globalDtFormat}}.</p>
        </div>

        <div style="margin-bottom: 20pt;margin-top: 20pt;">
          <p style="font-family: Arial, Helvetica, sans-serif; margin:0 0 8px 0; font-weight: 700; margin-bottom: 5pt;"> Payment details:</p>
          <p style="font-family: Arial, Helvetica, sans-serif; margin:0 0 8px 0;">Bank Name: {{vBankInfo.bank_name}}</p>
          <p style="font-family: Arial, Helvetica, sans-serif; margin:0 0 8px 0;">Bank Address: {{vBankInfo.address}} </p>
          <p style="font-family: Arial, Helvetica, sans-serif; margin:0 0 8px 0;">Account holder: {{vBankInfo.holder_name}}</p>
          <p style="font-family: Arial, Helvetica, sans-serif; margin:0 0 8px 0;">IBAN: {{vBankInfo.iban}}</p>
          <p style="font-family: Arial, Helvetica, sans-serif; margin:0 0 8px 0; margin-bottom: 20pt;">SWIFT: {{vBankInfo.swift_bic}} </p>
        </div>

      </div>
    </div>

    <div class="footerContent" style="margin: 100px 0 0 0;">
      <!-- <div style="margin-left: -50px;margin-right: -50px;">
        <div style="width: 100%;">
          <div style="width: 100%;">
            <div style="float:left; width:25%; border-top: 1px solid #ea7227;"> </div>
            <div style="float:left; width:25%; border-top: 1px solid #e63132;"> </div>
            <div style="float:left; width:25%; border-top: 1px solid #4c9acc;"> </div>
            <div style="float:right; width:25%; border-top: 1px solid #5fc752;margin-top:-1px;"> </div>
          </div>
        </div>
      </div> -->
      <div>

        <table align="center"  style="width:100mm; font-family: Arial, Helvetica, sans-serif; color: #919191;">
          <thead>
            <tr>
              <th > {{ invoiceSettingData.company_name }} </th>
              <th > </th>
              <th style="text-align: right;"> VAT NUMBER:</th>
            </tr>
          </thead>
          <tbody>
          <tr>
              <td style="text-align:left !important;"> {{ invoiceSettingData.address1 }} </td>
              <td style="text-align: center !important;"> Email: {{invoiceSettingData.work_email}}</td>
              <td style="text-align: right;"> Foretaksregisteret: </td>
          </tr>
          <tr>
              <td style="text-align: left;"> {{ invoiceSettingData.postcode }} {{ invoiceSettingData.city }} {{ invoiceSettingData.country }} </td>
              <td style="text-align: center !important; ">Web: {{ invoiceSettingData.web_address }} </td>
              <td style="text-align:right;"> {{ invoiceSettingData.vat_number }} </td>
          </tr>

        </tbody>
      </table>
      </div>
      <div style="margin-top:20px;">
        <p class="copytext smlFont textcenter" style="text-align: center; margin-top: 20px; color: #808080;">
          <span style="font-family:Arial;"> &copy; </span> {{ invoiceSettingData.copyright_text }}
        </p>
      </div>

    </div>

  </div>
</body>

</html>