<form id="item_overview_form">
	<div class="modal-header">
		<h3 class="modal-title">Item Overview</h3>
	</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<table  class="table m-b-none default footable-loaded footable">
                <thead>
                <th></th>
                </thead>
                <tbody>
                    <tr>	
                        <td>001</td>
                        <td>0job/s</td>
                        <td>Profit Margine &nbsp <span style="color:red;">0,0%</span></td>
                        <td ng-hide="manual">
							<h4><a href="javascript:void(0)" ng-click="manualAuto()"><img src="assets/img/manuell_on.png">Manual</a></h4>
						</td>
                    </tr>
                    <tr>	
                        <td>General(jobs that do not belong to an item)</td>
                        <td>0job/s</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>

            </table>
		</div>
	</div>
	<div class="panel-footer">
		<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
	</div>
</form>