<style type="text/css">
    .modal-dialog {
        position: relative;
        display: table;
        overflow-y: auto;    
        overflow-x: auto;
        width: auto;
        min-width: 300px;
    }
</style>
<form id="jobitem_form">
    <div class="modal-header">
        <h3 class="modal-title">Job status</h3>
    </div>
    <div style="float: right; margin-right: 10px;">
        <h5><span>{{percent}}</span>% Progress</h5>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <div class="form-group">
                <table class="table">
                    <thead>
                    <th>Sr.No</th>
                    <th>Job Number</th>
                    <!-- <th>Job Type</th> -->
                    <!-- <th>Resource</th> -->
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Status</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="jobItem in jobitemStatus">
                            <td>{{$index+1}}</td>
                            <!-- <td>{{jobItem.job_code}}{{jobItem.job_no | numberFixedLen:3}}</td> -->
                            <td>{{jobItem.po_number}}</td>
                            <!-- <td></td> -->
                            <!-- <td></td> -->
                            <td>{{jobItem.created_date | globalDtFormat}}</td>
                            <td ng-if="jobItem.due_date =='0000-00-00 00:00:00'">-</td>
                            <td ng-if="jobItem.due_date !='0000-00-00 00:00:00'">{{jobItem.due_date | globalDtFormat}}</td>
                            <td>
                                <button class="btn completedColor" ng-if="jobItem.item_status == 'Completed'"></button>
                                <button class="btn inpreprartionColor" ng-if="jobItem.item_status == 'In preparation'"></button>
                                <button class="btn requestedColor" ng-if="jobItem.item_status == 'Requested'"></button>
                                <button class="btn newJob" ng-if="jobItem.item_status == 'New'"></button>
                                <button class="btn assignedwaitongColor" ng-if="jobItem.item_status == 'Assigned-waiting'"></button>
                                <button class="btn inprogressColor" ng-if="jobItem.item_status == 'In-progress'"></button>
                                <button class="btn overdueColor" ng-if="jobItem.item_status == 'Overdue'"></button>
                                <button class="btn deliveredColor" ng-if="jobItem.item_status == 'Delivered'"></button>
                                <button class="btn approvedColor" ng-if="jobItem.item_status == 'Approved'"></button>
                                <button class="btn invoicecreatedColor" ng-if="jobItem.item_status == 'Invoice created'"></button>
                                <button class="btn invoiceckedColor" ng-if="jobItem.item_status == 'Invoice checked'"></button>
                                <button class="btn invoiceacceptedColor" ng-if="jobItem.item_status == 'Invoice Accepted'"></button>
                                <button class="btn paidColor" ng-if="jobItem.item_status == 'Paid'"></button>
                                <button class="btn canceledColor" ng-if="jobItem.item_status == 'Canceled'"></button>
                                <button class="btn withoutInvoiceColor" ng-if="jobItem.item_status == 'Without invoice'"></button>
                                &nbsp;{{jobItem.item_status}}
                            </td>
                            <td></td>
                        </tr>
                        <tr ng-show="!jobitemStatus.length">
                            <td colspan="4" ng-bind="dataNotFound"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>