  <div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1" data-ng-include=" 'tpl/material.header.html' " >
  </div>
  <div layout="row">
    <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs" data-ng-include=" 'tpl/material.aside.html' ">
    </div>
    <div flex layout="column">
      <div ui-butterbar></div>
      <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside" ></a>
      <div class="md-content page_content_wrapper" id="top">
      
        <div class="content_head bg-light lter b-b wrapper-md ng-scope">
          <h1 class="m-n font-thin h3">News</h1>
        </div>
        <div class="wrapper-md ng-scope">
          <div class="panel panel-default">
            <div class="panel-body">
              <form id="knowledge-news-form">
                <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label>News Title</label>
                                  <input type="text" class="form-control" placeholder="Enter News Title" name="news_title" ng-model="news.k_news_title" required>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label>Short Description</label>
                                  <textarea style="resize: none;" class="form-control" placeholder="Enter short description" name="news_sort_des" ng-model="news.news_sort_des" required></textarea>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="form-group">
                                  <label>Description</label>
                                  <!-- <div id='edit' style="margin-top: 30px;">

                                  </div> -->
                                  <textarea class="editDATA" name="content"></textarea>
                              </div>
                          </div>
                      </div>
                
                    <div class="panel-footer pl-0 pr-0">
                        <button  class="btn m-b-xs w-xs btn-info" ng-click="save('knowledge-news-form');"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                        
                    </div>
              </form>
            </div>
          </div>
          <div class="panel panel-default">
            <table class="table table-striped b-t b-b table-bordered" datatable="ng">
             <thead>
                                        <th>#</th>
                                        <th>News Title</th>
                                        <th>Create User</th>
                                        <th>Action</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="knowledgeNews in NewsList" ng-class="(knowledgeNews.k_news_id == news.k_news_id) ? 'rowactivate' : ''">
                                                <td ng-bind="$index + 1"></td>
                                                <td ng-bind="knowledgeNews.k_news_title | capitalize"></td>
                                                <td ng-bind="knowledgeNews.created_user"></td> 
                                                <td>
                                                    <a href="javascript:void(0)" ng-click="getNews(knowledgeNews.k_news_id, 'top');" title="edit"><i class="glyph-icon fa-edit"></i></a> 
                                                    <a href="javascript:void(0)" ng-click="deleteModel(knowledgeNews.k_news_id)" title="delete"><i class="iconDelete glyph-icon fa-times"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
            </table>
          </div>

        </div>
    </div>
  </div>
