<div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1"
    data-ng-include=" 'tpl/material.header.html' ">
</div>
<div layout="row">
    <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs"
        data-ng-include=" 'tpl/material.aside.html' ">
    </div>
    <div flex layout="column">
        <div ui-butterbar></div>
        <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside"></a>
        <div class="md-content page_content_wrapper" id="top">

            <div class="content_head bg-light lter b-b wrapper-md">
                <div class="row">
                  <div class="col-sm-12">
                    <!-- <h1 class="m-n font-thin h3 text-black">Reports</h1>
                    <small class="text-muted">Dashboard</small> -->
                    <div>
                      <ul class="projectjobdv2 overviewli1 overviewli">
                        <!-- <li ng-click="setActiveTab(2)" ng-class="{active: activeTab === 2}" class="list-group-item active"> <a href="#/Jobs-status-report"> Internal Statistics</a> </li> -->
                        <li ng-click="setActiveTab(1)" class="list-group-item"> <a href="#/Order-status-report">Scoops Report</a> </li>
                        <li ng-click="setActiveTab(2)" class="list-group-item"> <a href="#/Jobs-status-report"> Jobs Report</a> </li>
                        <li ng-click="setActiveTab(2)" class="list-group-item"> <a href="#/job-margin-report"> Margin Report</a> </li>
                        <li ng-click="setActiveTab(3)" class="list-group-item"> <a href="#/Invoice-status-report">Invoice Report</a> </li>
                        <li ng-click="setActiveTab(4)" class="list-group-item active"> <a href="#/Linguist-invoice-status-report"> Linguist Report</a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
             </div>
            <div class="wrapper-md ng-scope">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form id="invoice-status-report">
                            <!--   TAB1 -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading font-bold">Select</div>
                                        <div class="panel-body">

                                            <div class=" form-group">
                                            </div>
                                                <div class="col-sm-6 form-group">
                                                    <div class="row">
                                                        <div class="col-sm-11">
                                                            <label>Resource</label>
                                                            <input type="text" select2-job-detail-resource id="freelanceName"
                                                                class="form-control" name="freelanceName"
                                                                ng-model="invoiceReport.freelanceName" />
                                                        </div>
                                                        <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                            <a href="javascript:void(0)"
                                                                ng-click="clearCode('invoice-status-report','freelanceName')"
                                                                ng-if="invoiceReport.freelanceName"><i
                                                                    class="iconDelete glyph-icon fa-times"
                                                                    aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <div class="row">
                                                        <div class="col-sm-11">
                                                            <label>Status</label>
                                                            <input type="text" select2-invoice-status id="invoiceStatus"
                                                                class="form-control" ng-model="invoiceReport.invoiceStatus"
                                                                name="invoiceStatus"/>
                                                        </div>
                                                        <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                            <a href="javascript:void(0)"
                                                                ng-click="clearCode('invoice-status-report','invoiceStatus')"
                                                                ng-if="invoiceReport.invoiceStatus"><i
                                                                    class="iconDelete glyph-icon fa-times"
                                                                    aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-sm-6 form-group pl-0">
                                                    <div class="col-sm-6 form-group">
                                                        <div class="row">
                                                            <div class="col-sm-11">
                                                                <label>Invoice Date Start</label>
                                                                <input type="text" ng-datepicker2 id="startCreateDate"
                                                                    class="form-control" name="startCreateDate"
                                                                    ng-model="invoiceReport.startCreateDate" />
                                                            </div>
                                                            <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                                <a href="javascript:void(0)"
                                                                    ng-click="clearCode('invoice-status-report','startCreateDate')"
                                                                    ng-if="invoiceReport.startCreateDate"><i
                                                                        class="iconDelete glyph-icon fa-times"
                                                                        aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <div class="row">
                                                            <div class="col-sm-11">
                                                                <label>Invoice Date End</label>
                                                                <input type="text" ng-datepicker2 id="endCreateDate"
                                                                    class="form-control" name="endCreateDate"
                                                                    ng-model="invoiceReport.endCreateDate" />
                                                            </div>
                                                            <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                                <a href="javascript:void(0)"
                                                                    ng-click="clearCode('invoice-status-report','endCreateDate')"
                                                                    ng-if="invoiceReport.endCreateDate"><i
                                                                        class="iconDelete glyph-icon fa-times"
                                                                        aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 form-group pl-0">
                                                    <div class="col-sm-6 form-group">
                                                        <div class="row">
                                                            <div class="col-sm-11">
                                                                <label>Due Date Start</label>
                                                                <input type="text" ng-datepicker2 id="itemDuedate"
                                                                    class="form-control" name="itemDuedate"
                                                                    ng-model="invoiceReport.itemDuedate" />
                                                            </div>
                                                            <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                                <a href="javascript:void(0)"
                                                                    ng-click="clearCode('invoice-status-report','itemDuedate')"
                                                                    ng-if="invoiceReport.itemDuedate"><i
                                                                        class="iconDelete glyph-icon fa-times"
                                                                        aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <div class="row">
                                                            <div class="col-sm-11">
                                                                <label>Due Date End</label>
                                                                <input type="text" ng-datepicker2 id="enditemDuedate"
                                                                    class="form-control" name="endItemDuedate"
                                                                    ng-model="invoiceReport.endItemDuedate" />
                                                            </div>
                                                            <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                                <a href="javascript:void(0)"
                                                                    ng-click="clearCode('invoice-status-report','endItemDuedate')"
                                                                    ng-if="invoiceReport.endItemDuedate"><i
                                                                        class="iconDelete glyph-icon fa-times"
                                                                        aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 form-group pl-0">
                                                    <div class="col-sm-6 form-group">
                                                        <div class="row">
                                                            <div class="col-sm-11">
                                                                <label>Payment Date Start</label>
                                                                <input type="text" ng-datepicker2 id="startPaymentDate"
                                                                    class="form-control" name="startPaymentDate"
                                                                    ng-model="invoiceReport.startPaymentDate" />
                                                            </div>
                                                            <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                                <a href="javascript:void(0)"
                                                                    ng-click="clearCode('invoice-status-report','startPaymentDate')"
                                                                    ng-if="invoiceReport.startPaymentDate"><i
                                                                        class="iconDelete glyph-icon fa-times"
                                                                        aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <div class="row">
                                                            <div class="col-sm-11">
                                                                <label>Payment Date End</label>
                                                                <input type="text" ng-datepicker2 id="endPaymentDate"
                                                                    class="form-control" name="endPaymentDate"
                                                                    ng-model="invoiceReport.endPaymentDate" />
                                                            </div>
                                                            <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                                <a href="javascript:void(0)"
                                                                    ng-click="clearCode('invoice-status-report','endPaymentDate')"
                                                                    ng-if="invoiceReport.endPaymentDate"><i
                                                                        class="iconDelete glyph-icon fa-times"
                                                                        aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--   TAB1 -->
                            <div class="panel-footer pl-0 pr-0">
                                <a class="btn btn-info btn-leftside"
                                    ng-click="invoicestatusReportsearch('invoice-status-report','middle')">Update search</a>
                                <button class="btn btn-info btn-leftside"
                                    ng-click="reseteSearch('invoice-status-report',invoiceReport)">Delete Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="" id="middle">
                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">Result</div>
                                <div class="">
                                    <div class="">
                                        <div class="row wrapper" ng-show="statusRes.length">
                                            <div class="col-sm-6 m-b-xs">
                                                <div class="col-sm-4">
                                                    <select class="input-sm form-control w-sm inline v-middle"
                                                        ng-model="action" ng-change="statucOrderAction(action)">
                                                        <option>Change status to</option>
                                                        <option>Export to excel</option>
                                                        <option>Remove selection</option>
                                                        <option>Select all</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-5" ng-show="jobStatus">
                                                    <input type="text" select2-job-detailitm-status data-typeid="2"
                                                        id="jobStatusdata" class="input-sm form-control w-sm  v-middle"
                                                        ng-model="jobStatus" />
                                                </div>
                                                <div class="col-sm-1">
                                                    <button class="btn btn-sm btn-info"
                                                        ng-click="statusAction(action,projectStatus)"><i
                                                            class="glyphicon glyphicon-ok"></i></button>
                                                </div>
                                            </div>
                                            <div>
                                                <button ng-show="statusRes.length" class="btn btn-info pull-right"
                                                    ng-click="exportData()">Excel</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                             <!-- dynamic pagination it -->
                                                <table datatable="" dt-options="dtOptionsInternal" id="invoice_report_table" style="width:100% !important" dt-columns="dtColumnsInternal" dt-instance="dtInstance" class="table m-b-none default footable-loaded footable" >
                                                    <tfoot>
                                                        <tr>
                                                            <th colspan="2" style="border:none"></th>
                                                            <th colspan="1" style="border:none">Total Price:</th>
                                                            <th id="total-amount" style="border:none"></th>
                                                            <th colspan="4" style="border:none"></th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                        </div>

                                        <!-- use for export to excel -->
                                        <div class="table-responsive" id="exportable" style="display:none">
                                            <table class="table m-b-none default footable-loaded footable">
                                                <thead>
                                                    <th>#</th>
                                                    <th>Invoice number</th>
                                                    <th>Company name</th>
                                                    <th>Tripletex ID</th>
                                                    <th>Price</th>
                                                    <th>Currency</th>
                                                    <th>Creation Date</th>
                                                    <th>Due Date</th>
                                                    <th>Payment Date</th>
                                                    <th>Invoice status</th>
                                                </thead>
                                                <tbody>
                                                    <tr id="Export_{{$index}}"
                                                        ng-repeat="result in statusResult track by $index">
                                                        <td ng-bind="$index + 1"></td>
                                                        <td ng-bind="result.invoice_number"></td>
                                                        <td>{{result.clientCompanyName}}</td>
                                                        <td>{{result.accounting_tripletex}}</td>
                                                        <td>{{ result.Invoice_cost }}</td>
                                                        <td>{{result.client_currency}} </td>
                                                        <td>{{ result.created_date | globalDtFormat }}</td>
                                                        <td>{{ result.invoice_due_date | globalDtFormat }}</td>
                                                        <td>{{ result.paid_date | globalDtFormat }}</td>
                                                        <td>
                                                            <span ng-bind="result.invoice_status"></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer copy right -->
                <div data-ng-include="'tpl/copyRight.html'"></div>

            </div>
        </div>
    </div>