<div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1"
    data-ng-include=" 'tpl/material.header.html' ">
</div>
<div layout="row">
    <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs"
        data-ng-include=" 'tpl/material.aside.html' ">
    </div>
    <div flex layout="column">
        <div ui-butterbar></div>
        <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside"></a>
        <div class="md-content page_content_wrapper" id="top">
            <!-- <div class="bg-light lter b-b wrapper-md ng-scope">
          <h1 class="m-n font-thin h3">Advance Resource Search</h1>
        </div> -->
            <div class="col-sm-12">
                <div id="w4-tab1" class="tab-pane active">
                    <form id="job-status-report">
                        <!--   TAB1 -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold content_head">External Resource (Linguist)
                                        Search</div>
                                    <div class="panel-body">
                                        <div class="col-sm-6 form-group">
                                            <div class="col-sm-11">
                                                <label>External Resource Type</label>
                                                <select id="userTypes1" class="form-control" name="usertypes"
                                                    ng-model="jobReport.freelancerType">
                                                    <option value="translation">Translation</option>
                                                    <option value="freelancer">Freelancer</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                <a href="javascript:void(0)"
                                                    ng-click="clearCode('job-status-report','freelancerType')"
                                                    ng-if="jobReport.freelancerType"><i
                                                        class="iconDelete glyph-icon fa-times"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <div class="col-sm-11">
                                                <label>Resource Name</label>
                                                <input type="text" id="resource1" class="form-control" name="resource"
                                                    ng-model="jobReport.resourceName" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <div class="col-sm-11">
                                                <label>Currency</label>
                                                <input type="text" select2-currency id="currency" class="form-control"
                                                    name="currency" ng-model="jobReport.currency" />
                                            </div>
                                            <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                <a href="javascript:void(0)"
                                                    ng-click="clearCode('job-status-report','currency')"
                                                    ng-if="jobReport.currency"><i class="iconDelete glyph-icon fa-times"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <div class="col-sm-11">
                                                <label>Country</label>
                                                <input type="text" select2-holiday-country id="userCountry"
                                                    class="form-control" name="userCountry"
                                                    ng-model="jobReport.userCountry" />
                                            </div>
                                            <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                <a href="javascript:void(0)"
                                                    ng-click="clearCode('job-status-report','userCountry')"
                                                    ng-if="jobReport.userCountry"><i
                                                        class="iconDelete glyph-icon fa-times"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <div class="col-sm-11">
                                                <label>Price Unit</label>
                                                <input type="text" id="priceUnit" class="form-control" name="priceUnit"
                                                    ng-model="jobReport.priceUnit" />
                                            </div>
                                            <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                <a href="javascript:void(0)"
                                                    ng-click="clearCode('job-status-report','priceUnit')"
                                                    ng-if="jobReport.priceUnit"><i
                                                        class="iconDelete glyph-icon fa-times"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <div class="col-sm-11">
                                                <label>Price Rate</label>
                                                <input type="text" id="priceRate" class="form-control" allow-decimal-comma-number name="priceRate"
                                                    ng-model="jobReport.priceRate" />
                                            </div>
                                            <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                <a href="javascript:void(0)"
                                                    ng-click="clearCode('job-status-report','priceRate')"
                                                    ng-if="jobReport.priceRate"><i
                                                        class="iconDelete glyph-icon fa-times"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-6 form-group">
                                            <div class="col-sm-11">
                                                <label>Specialization</label>
                                                <input type="text" select2-specialization-single data-typeid="1"
                                                    id="specialization" class="form-control" name="specialization"
                                                    ng-model="jobReport.specialization" />
                                            </div>
                                            <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                <a href="javascript:void(0)"
                                                    ng-click="clearCode('job-status-report','specialization')"
                                                    ng-if="jobReport.specialization"><i
                                                        class="iconDelete glyph-icon fa-times"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="padding-left:0;">
                                            <div class="col-sm-6">
                                                <div class="col-sm-11">
                                                    <label>Source</label>
                                                    <input select2-multiple-languages-data id="sourceLanguage"
                                                        type="text" name="sourcelang" ng-model="jobReport.source_lang"
                                                        class="form-control sourcelanguages" />
                                                </div>
                                                <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                    <a href="javascript:void(0)"
                                                        ng-click="clearCode('job-status-report','source_lang')"
                                                        ng-if="jobReport.source_lang"><i
                                                            class="iconDelete glyph-icon fa-times"
                                                            aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="col-sm-11">
                                                    <label>Target</label>
                                                    <input select2-multiple-languages-data id="targetLanguage"
                                                        type="text" name="target_lang" ng-model="jobReport.target_lang"
                                                        class="form-control sourcelanguages" />
                                                </div>
                                                <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                    <a href="javascript:void(0)"
                                                        ng-click="clearCode('job-status-report','target_lang')"
                                                        ng-if="jobReport.target_lang"><i
                                                            class="iconDelete glyph-icon fa-times"
                                                            aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-6" style="padding-left:0;">
                                            <div class="col-sm-6">
                                                <div class="col-sm-11">
                                                    <label>From</label>
                                                    <input type="text"
                                                        class="form-control ng-pristine ng-isolate-scope ng-invalid ng-invalid-required ng-touched"
                                                        id="FrmDate" ng-upcomming-date="" name="FrmDate"
                                                        ng-model="jobDate.FrmDate" required="" onkeydown="return false">
                                                </div>
                                                <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                    <a href="javascript:void(0)"
                                                        ng-click="clearCode('job-status-report','FrmDate')"
                                                        ng-if="jobDate.FrmDate"><i
                                                            class="iconDelete glyph-icon fa-times"
                                                            aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="col-sm-11">
                                                    <label>To</label>
                                                    <input type="text"
                                                        class="form-control ng-pristine ng-isolate-scope ng-invalid ng-invalid-required ng-touched"
                                                        id="ToDate" ng-upcomming-date="" name="ToDate"
                                                        ng-model="jobDate.ToDate" required="" onkeydown="return false">
                                                </div>
                                                <div class="col-sm-1" style="margin:33px 0 0 -14px;">
                                                    <a href="javascript:void(0)"
                                                        ng-click="clearCode('job-status-report','ToDate')"
                                                        ng-if="jobDate.ToDate"><i class="iconDelete glyph-icon fa-times"
                                                            aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div style="margin-left:34px;padding:10px;">
                                        <a class="btn btn-info btn-leftside"
                                            ng-click="jobstatusReportsearch('job-status-report','middle',job)">Search</a>
                                        <!-- <button class="btn btn-info btn-leftside" ng-click="reseteSearch('job-status-report')">Delete Search</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--   TAB1 -->
                        <div class="panel-footer">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12" id="middle">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Result</div>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table m-b-none default footable-loaded footable">
                                    <thead>
                                        <th>#</th>
                                        <th>Resource</th>
                                        <th>Freelancer Type</th>
                                        <th>Currency</th>
                                        <th>Country</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in statusResult">
                                        <!-- <tr ng-repeat="result in statusRes=(statusResult | filter : jobReport)"> -->
                                            <td>
                                                {{ $index + 1 }}
                                            </td>
                                            <td>
                                                {{result.resourceName}}
                                            </td>
                                            <td>{{result.freelancerType}}</td>
                                            <td>{{result.currency}}</td>
                                            <td>{{result.userCountry}}</td>
                                        </tr>
                                        <tr ng-show="!statusRes.length">
                                            <td colspan="8" ng-bind="dataNotFound"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer copy right -->
                <div data-ng-include="'tpl/copyRight.html'"></div>
            </div>
        </div>
    </div>