<style type="text/css">
    .nav-pills.nav-wizard>>ul>li {
        border-right: 78px solid #eef5fa !important;
    }

    .hrght {
        float: right;
        color: red;
        margin-top: -1.5%;
    }
</style>
<div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1"
    data-ng-include=" 'tpl/material.header.html' ">
</div>
<div layout="row">
    <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs"
        data-ng-include=" 'tpl/material.aside.html' ">
    </div>
    <div flex layout="column">
        <div ui-butterbar></div>
        <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside"></a>
        <div class="md-content page_content_wrapper">
            <div class="content_head bg-light lter b-b wrapper-md ng-scope">
                <h1 class="m-n font-thin h3 hleft">{{currentUserName}}</h1>
                <a ng-if="uType == '2'" style="margin-top: -4px !important;" href="javascript:history.back()"
                    class="btn btn-info pull-right btn-sm"><span class="fa fa-arrow-left"></span> Back</a>
                <a href="javascript:history.back()" style="margin-top: -4px !important;" ng-if="uType == '1'"
                    class="btn btn-info btn-rightside backbut btn-sm"><span class="fa fa-arrow-left"></span> Back</a>
                <div class="hrght1">
                    <h5 ng-if="user_name!=' '">This record is currently edited by {{user_name}}<h5>
                </div>
            </div>
            <div class="wrapper-md ng-scope">
                <ul class="nav nav-pills nav-wizard" style="width: 69%;margin: auto;">
                    <li>
                        <a href="#/client-profile">Basic Information</a>
                        <div class="nav-arrow"></div>
                    </li>
                    <li>
                        <div class="nav-wedge"></div>
                        <a href="#/contact-person">Contacts</a>
                        <div class="nav-arrow"></div>
                    </li>
                    <li>
                        <div class="nav-wedge"></div>
                        <a href="#/price-list">Prices</a>
                        <div class="nav-arrow"></div>
                    </li>
                    <li class="active">
                        <div class="nav-wedge"></div>
                        <a href="#/payment_client">Payment Information</a>
                        <div class="nav-arrow"></div>
                    </li>
                    <li>
                        <div class="nav-wedge"></div>
                        <a href="#/login-detail">Login Details</a>
                    </li>

                </ul>
                <div class="panel panel-default" style="margin-top:1%">
                    <div class="panel-body">
                        <form id="payment_form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading font-bold">
                                            <h4>Account Information</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <label>Vat Number</label>
                                                    <input type="text" id="VatNumber" name="VatNumber"
                                                        class="form-control"
                                                        placeholder="Including country code (i.e. NO997189248)"
                                                        ng-model="payment.tax_id" />
                                                </div>
                                                <md-progress-linear id="vatLoader" md-mode="indeterminate"
                                                    class="m-b"></md-progress-linear>
                                            </div>
                                            <!-- <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Country Code</label>
                                                <input ng-change="vatCount(payment)" type="text" select2-country class="form-control" name="iGender"  ng-model="payment.country_code"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>VAT Number</label>
                                                <input ng-hide="blockVat" type="text" class="form-control"  name="tax_id" ng-model="payment.tax_id">
                                                <input  ng-show="blockVat" type="text" class="form-control"  name="tax_id" ng-model="payment.tax_id" readonly>
                                            </div>
                                        </div> -->
                                            <button type="button" ng-disabled="!payment.tax_id"
                                                style="margin-top:25px;width:13%;" class="btn btn-info"
                                                ng-click="vatCount(payment)">Check</button>
                                            <!-- <div class="col-sm-2" style="margin-top: 32px;">
                                            <span><a style="padding: 5px;" ng-click="vatCount(payment)" class="btn-info but" >Ok</a>
                                            </span>
                                             <span ng-show="blockVat"><a style="padding: 5px;" ng-click="vatEdit()" class="btn-info but" >Edit</a></span> -->
                                            <!-- </div> -->
                                            <div class="col-sm-12 vatNumberValid">
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Tax Rate</label>
                                                    <input type="text" select2-taxrate class="form-control" name="tax_rate"  ng-model="paymentData.tax_rate"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-6"></div>
                                            <div class="col-sm-12" style="margin-top:20px;">
                                                <div class="form-group">
                                                    <label>Accounting notes</label>
                                                    <textarea name="memos" ng-model="payment.memos" class="form-control"
                                                        rows="12" style="resize: none;"></textarea>
                                                </div>
                                                <div class="panel-footer">
                                                    <strong>Payment terms :</strong> (e.g. all invoices are paid 45 days
                                                    after date of issue)
                                                    <a ng-if="uType == '1'" class="btn btn-info pull-right"
                                                        ng-click="savePayment('payment_form','1');">Save</a>

                                                    <a ng-if="uType == '2'" class="btn btn-info pull-right"
                                                        ng-click="savePaymentdirect('payment_form','2');">Save & Next <i
                                                            class="fa fa-angle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
            <!-- footer copy right -->
            <div data-ng-include="'tpl/copyRight.html'"></div>
        </div>