<style type="text/css">
.nav-pills.nav-wizard>>ul>li {

    border-right: 78px solid #eef5fa !important;

}

.hrght {

    float: right;

    color: red;

    margin-top: -1.5%;

}
</style>
<script type="text/javascript">
$('#priceUnit').css('display', 'block');
</script>
<div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1" data-ng-include=" 'tpl/material.header.html' ">
</div>
<div layout="row">
    <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs" data-ng-include=" 'tpl/material.aside.html' ">
    </div>
    <div flex layout="column">
        <div ui-butterbar></div>
        <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside" ></a>
        <div class="md-content page_content_wrapper">
            <div class="content_head bg-light lter b-b wrapper-md ng-scope">
                <h1 class="m-n font-thin h3 hleft">{{currentUserName}}</h1>
                <a href="javascript:history.back()" style="margin-top: -4px !important;" class="btn btn-info pull-right btn-sm"><span class="fa fa-arrow-left"></span> Back</a>
                <div class="hrght1">
                    <h5 ng-if="user_name!=' '">This record is currently edited by {{user_name}}<h5></div>

        </div>

        <div class="wrapper-md ng-scope">

<ul class="nav nav-pills nav-wizard" style="width: 71%;margin: auto;">

                        <li>

                            <a href="#/client-profile">Basic Information</a>

                            <div class="nav-arrow"></div>

                        </li>

                        <li>

                            <div class="nav-wedge"></div>

                            <a href="#/contact-person">Contacts</a>

                            <div class="nav-arrow"></div>

                        </li>

                        <li class="active">

                            <div class="nav-wedge"></div>

                            <a href="#/price-list">Prices</a>

                            <div class="nav-arrow"></div>

                        </li>

                        <li>

                            <div class="nav-wedge"></div>

                            <a href="#/payment_client">Payment Information</a>

                            <div class="nav-arrow"></div>

                        </li>

                        <li>

                            <div class="nav-wedge"></div>

                            <a href="#/login-detail">Login Details</a>

                        </li>

                        

                    </ul>

          <div class="panel panel-default" style="margin-top:1%">



            <div class="panel-body">

              <div class="panel panel-default">

                                <div class="panel-heading font-bold"><h4>Price List</h4></div>

                                <div class="panel-body">

                                <form id="price-List-form">

                                    <div class="col-sm-12">

                                        <div class="col-sm-6" style="padding: 20px;border: 1px solid #ccc;background:#eee;border-radius:15px;">

                                             

                                                <div class="col-sm-5">

                                                    <div class="form-group">

                                                        <label>Select price list</label>

                                                    </div>

                                                </div>

                                                <div class="col-sm-6">

                                                    <div class="form-group">

                                                        <input type="text" select2-price-list data-typeid="1" id="customerPriceId" class="form-control" name="currency"  ng-model="customerPriceId" ng-change="customerChange(customerPriceId)"/>

                                                    </div>

                                                </div>

                                                <div class="col-sm-1" ng-show="customerPriceId" style="top: 7px;left: -22px;">

                                                    <a><i class="iconDelete glyph-icon fa-times" ng-click="removecustomerPriceId()"></i></a>

                                                </div>

                                                <!-- <div class="col-sm-5">

                                                    <div class="form-group">

                                                        <label>Change name of price list</label>

                                                    </div>

                                                </div>

                                                <div class="col-sm-6">

                                                    <div class="form-group">

                                                        <input type="text" class="form-control" placeholder="Change Name" name="customerPriceName" ng-model="customerPrice.price_name">

                                                    </div>

                                                </div> -->

                                             

                                            <div class="col-sm-12" style="margin-top:5px;">

                                                <div class="form-group">

                                                    <label>New price list</label>

                                                </div>

                                            </div>

                                            <div class="col-sm-6">

                                                <div class="form-group">

                                                    <label>Create new price list</label>

                                                </div>

                                            </div>

                                            <div class="col-sm-6">

                                                <!-- <a href="javascript:void(0)" ng-click="newCustomer()"><i class="fa fa-file-o 4x newCustomer"></i></a> -->

                                                <button type="button" ng-click="newCustomer()" class="btn btn-info" style="padding: 4px 15px;margin-left: -40px;">

                                               Create

                                            </button>

                                            </div>

                                            <!-- <div class="col-sm-12"></div>

                                            <div class="col-sm-5">

                                                <div class="form-group">

                                                    <label>Copy customer price list</label>

                                                </div>

                                            </div>

                                            <div class="col-sm-6">

                                                <input type="text" select2-price-list data-typeid="1" id="customerPricecopyId" class="form-control" name="currency"  ng-model="customerPricecopyId"/>

                                            </div> -->

                                           <!--  <div class="col-sm-1">

                                                <button type="button" ng-click="copyCustomer(customerPricecopyId)" class="btn btn-info" style="padding:5px;margin-left: -20px;">

                                                   Copy

                                                </button> -->

                                                <!-- <a href="javascript:void(0)" ng-click="copyCustomer(customerPricecopyId)"><i class="fa fa-file-o 4x newCustomer"></i></a> -->

                                            <!-- </div>                          -->

                                        </div>

                                        <!-- ng-show="customerPriceList" -->

                                        <div class="col-sm-6 customerPriceList" ng-show="customerPriceList">

                                            <!-- <div class="col-sm-12">

                                                <div class="form-group">

                                                    <label>Memo</label>

                                                    <textarea ng-model="customerPrice.memo" style="resize: none;" class="form-control"></textarea>

                                                </div>    

                                            </div> -->

                                            <div class="col-sm-12">

                                                <div class="form-group">

                                                    <label>Name</label>

                                                    <input type="text" class="form-control" placeholder="Enter Customer Price List Name" name="customerPriceName" ng-model="customerPrice.price_name" id="customerPriceName" required>

                                                </div>    

                                            </div>

                                            <div class="col-sm-12">

                                                <div class="form-group">

                                                    <label>Currency</label>

                                                    <input type="text" select2-currency-convert data-typeid="1" id="price_currency" class="form-control" name="currency"  ng-model="customerPrice.price_currency" required/>

                                                </div>    

                                            </div>

                                            <!-- <div class="col-sm-12">

                                                <div class="form-group">

                                                    <label>CAT calculation basis</label>

                                                    <input type="text" select2-calculation-basis data-typeid="1" id="calculation_basis" class="form-control" name="calculationBasis"  ng-model="customerPrice.calculation_basis" required/>

                                                </div>    

                                            </div> -->

                                            <!-- <div class="col-sm-12">

                                                <div class="form-group">

                                                    <label>Rounding procedure</label>

                                                    <input type="text" select2-rounding data-typeid="1" id="rounding_proc" class="form-control" name="rounding_procesor"  ng-model="customerPrice.rounding_proc" required/>

                                                </div>    

                                            </div> -->

                                            <div class="col-sm-12">

                                                <div class="form-group">

                                                    <label>Minimum Charge</label>
                                                    <input type="number" class="form-control" id="minimumCharge" placeholder="Enter Minimum Price" min="0" name="Minimum Charge" ng-model="customerPrice.min_price_item" is-number>
                                                </div>    

                                            </div>

                                            <div class="col-sm-12">

                                                <div class="form-group">
                                                    <label>Specialization &nbsp;&nbsp;</label>
                                                    <input type="checkbox" id="chkAll" > &nbsp;&nbsp;Select All
                                                    <input type="text" select2-specialization-project data-typeid="1" id="specialization" class="form-control" name="specialization"  ng-model="customerPrice.specialization" required/>
                                                </div>    

                                            </div>

                                        </div>

                                    </div>

                                </form>



                                <!--  -->

                                    <div class="col-sm-12" ng-show="customerPriceList">

                                        <table  class="table m-b-none default footable-loaded footable">

                                            <thead class="priceTable">

                                                <th style="width: 7%;" class="topMenu topMenu-Active">

                                                    Prices

                                                </th>

                                               <!--  <th style="width: 12%;" class="topMenu">

                                                    Planned time

                                                </th> -->

                                                <td colspan="6">

                                                    &nbsp; 

                                                </td>

                                            </thead>

                                        </table>

                                        <table class="table m-b-none default footable-loaded footable customerPriceTable" ng-hide="plannedTime">

                                            <thead style="background-color: #e0e0e0;">
                                                <th>Languages</th>
                                                <!-- <th style="border-right: 1px solid #ccc;">Price factor</th> -->
                                                <th style="border-right: 1px solid #ccc;width:19%;"></th>
                                                <th>Quantity</th>
                                                <th>Price unit</th>
                                                <th>Prices</th>
                                                <th>Weighting</th>
                                            </thead>
                                        </table>
                                        <table  class="table m-b-none default footable-loaded footable customerPriceTable" style="width:36.9%; float:left;  border-right:1px solid #ccc;" ng-hide="plannedTime">
                                            <tbody>
                                                <tr class="rowactivate priceLPrice">

                                                    <td colspan="3"><strong>Change prices</strong></td>

                                                </tr>

                                                <tr class="priceLPrice" ng-repeat="langPrice in priceLanguageList" id="priceLanguageID{{$index}}" ng-click="sendPriceLanguage($index)" style="cursor:pointer;" title="Set Price Languages">
                                                    <td class="priceLanguage{{$index}}" ng-bind="langPrice.languagePrice">
                                                    </td>
                                                    <td>
                                                        <a><i class="iconDelete glyph-icon fa-times" ng-click="removePriceLanguage($index)"></i></a>
                                                    </td>

                                                    <!-- <td>

                                                        <a><i class="fa fa-caret-right" aria-hidden="true" ng-click="sendPriceLanguage($index)"></i></a>

                                                    </td> -->

                                                </tr>

                                                <tr class="itemList">

                                                    <td colspan="3">

                                                        <div class="col-sm-12">

                                                            <div class="col-sm-5">

                                                                <input select2-multiple-languages-data id="source_lang" type="text" name="sourcelang" ng-model="item.source_lang" class="form-control sourcelanguages"required/>

                                                            </div>

                                                            <div class="col-sm-5">

                                                                <input select2-multiple-languages-data id="targetLanguage" type="text" name="sourcelang" ng-model="item.target_lang" class="form-control sourcelanguages" required/>



                                                            </div>

                                                            <div class="col-sm-2">

                                                                <!-- <button class="btn btn-success btn-sm but" language-price-list>ok</button> -->

                                                                <a href="javascript:void(0)" class="btn btn-info btn-sm" language-price-list><i class="glyphicon glyphicon-ok"></i></a>

                                                            </div>

                                                        </div>

                                                    </td>

                                                </tr>

                                            </tbody>

                                        </table>

                                        <table  class="table m-b-none default footable-loaded footable customerPriceTable" style="width:62%; border-left:1px solid #ccc;" ng-hide="plannedTime">

                                            <tbody ui-sortable="sortableOptions" ng-model="priceBasiList">

                                                <tr>

                                                    <td colspan="5"><strong class="setPriceLanguage">Change prices</strong></td>

                                                </tr>

                                                <tr ng-repeat="priceBase in priceBasiList" class="basePriceMain{{$index}}" >

                                                    <td>

                                                        <div class="col-sm-12">

                                                            <div class="col-sm-2">

                                                                <!-- <input type="text" id="basepriceQuantity{{$index}}" only-digits class="form-control" name="basepriceQuantity" ng-change="basePriceOtyChnage($index)" ng-model="baseQuentity[$index]" required>
                                                                 -->
                                                                <input type="text" id="basepriceQuantity{{$index}}" only-digits class="form-control" name="basepriceQuantity" ng-change="basePriceOtyChnage($index)" ng-model="priceBase.baseQuentity" required>

                                                                <input type="hidden" name="childPriceId" ng-model="childPriceId[$index]" id="childPriceId{{$index}}"
                                                                value="{{priceBase.childPriceId}}" >
                                                                <input type="hidden" name="masterPriceId" ng-model="masterPriceId[$index]" id="masterPriceId{{$index}}"
                                                                value="{{priceBase.masterPriceId}}" >
                                                            </div>

                                                            <div class="col-sm-1">

                                                                <a ><i ng-class="(priceBase.basePricecheck == 1) ? 'fa fa-check' : 'fa fa-check'" id="basePriceCheck{{$index}}" aria-hidden="true"></i></a>

                                                            </div>

                                                            <div class="col-sm-3" id="basePriceUnit{{$index}}">

                                                                {{priceBase.basePriceUnit}}

                                                            </div>

                                                            <div class="col-sm-2" >
                                                                <!-- <input type="text" class="form-control" id="basePrice{{$index}}" only-digits2 name="basePrice" ng-model="basePrice[$index]" required ng-change="basePriceOtyChnage($index)"> -->
                                                                <input type="text" class="form-control" id="basePrice{{$index}}" only-digits2 name="basePrice" ng-model="priceBase.basePrice" required ng-change="basePriceOtyChnage($index)">
                                                            </div>

                                                            <div ng-if="!basePrice[$index] || !baseQuentity[$index]" class="col-sm-2" id="baseWaiting{{$index}}">
                                                                0
                                                            </div>

                                                            <div ng-if="basePrice[$index] && baseQuentity[$index]" class="col-sm-2" id="baseWaiting{{$index}}">
                                                                <!-- {{ baseTtl[$index] | customNumber}} -->
                                                                <!-- {{ priceBase.baseTtl | customNumber}} -->
                                                                {{ priceBase.baseTtl | customNumber4Digit}}
                                                                
                                                            </div>

                                                            <div class="col-sm-2">

                                                                <a><i class="iconDelete glyph-icon fa-times" ng-click="removeBasePrice($index)"></i></a>

                                                            </div>

                                                            <!-- <div class="col-sm-2 none standardTime{{$index}}">

                                                                {{priceBase.standardTime}}

                                                            </div> -->

                                                        </div>

                                                    </td>

                                                </tr>

                                                <tr class="basePriceAdd">

                                                    <td colspan="5">

                                                        <div class="col-sm-12">

                                                            <div class="col-sm-4">

                                                                <label>Base price/other price</label>

                                                            </div>

                                                            <div class="col-sm-6">

                                                                <input type="text" id="priceUnit" style="width:300px;"  ng-model="priceUnit" required />

                                                                <!-- <select class="form-control m-b w-md" ng-init="priceUnit = '0'" id="priceUnit" name="priceUnit" ng-model="priceUnit" required>

                                                                    <option value="0">--Please Select--</option>

                                                                    <option ng-repeat="master in masterPrice track by $index" value="{{master.master_price_id}}">{{master.name}} ({{master.childCount}})</option>

                                                                   <optgroup ng-repeat="master in masterPrice" label="{{master.name}}">

                                                                        <option ng-repeat="child in childPrice" ng-if="child.master_price_id == master.master_price_id" value="{{child.name}},{{child.hours}}">{{child.name}}</option>

                                                                    </optgroup>

                                                                </select> -->

                                                            </div>

                                                            <div class="col-sm-2">

                                                                <!-- <button class="btn-info but" base-price-add>ok</button> -->

                                                                <button class="btn-info but" href="javascript:void(0)" ng-click="basePriceAdd()" style="border-radius: 20px;">ok</button>

                                                            </div>

                                                        </div>

                                                    </td>

                                                </tr>

                                            </tbody>

                                        </table>

                                        

                                        <table class="table m-b-none default footable-loaded footable customerPriceTable" ng-show="plannedTime">

                                            <thead style="background-color: #e0e0e0;">

                                                <th>#</th>

                                                <th>Quantity</th>

                                                <th>Price Unit</th>

                                                <th>Quantity Per Hour</th>

                                            </thead>

                                            <tbody class="plannedTimerow">

                                                <tr ng-repeat="priceBase in  priceBasiList" class="plannedData{{$index}}">

                                                    <td ng-bind="$index + 1"></td>

                                                    <td class="plannedQuentity{{$index}}" ng-bind="priceBase.baseQuentity"></td>

                                                    <td ng-bind="priceBase.basePriceUnit"></td>

                                                    <td class="plannedStandardTime{{$index}}" ng-bind="priceBase.standardTime"></td>

                                                </tr>

                                                <tr class="plannTime">

                                                    <td></td>

                                                    <td class="totalPlannQuentity"><strong ng-bind="planedQuaTotal"></strong></td>

                                                    <td></td>

                                                    <td class="totalPlannHour"><strong ng-bind="planedHourTotal"></strong></td>

                                                </tr>

                                            </tbody>

                                        </table>

                                    </div>

                            </div>

                        </div>

                        <div class="panel-footer">

                            <a style="margin-left:5px" class="btn btn-info pull-right" href ng-click="saveandNext()">Next <i class="fa fa-angle-right"></i ></a>

                            <button ng-show="customerPriceList" class="btn btn-info pull-right" ng-click="save('price-List-form');" ><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>

                        </div>



            </div>

            

                                

          </div>
          <!-- footer copy right -->
          <div data-ng-include="'tpl/copyRight.html'"></div>
        </div>

      


      </div>


    </div>

  </div>