<style>
     #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #CACACA;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
   #propertyModal .modal-backdrop.in {
      opacity: 0;
   }
   .modalClass{
      margin-top: 163px;
      width:50%;
      margin-left:26%;
   }
   #propertyModal .modal-body {
      position: relative;
      padding: 0px; 
   }
   #propertyModal .modal-footer {
       padding: 5px;
       text-align: right;
       border-top: 1px solid #e5e5e5;
   }
   
</style>
<div class="container w-xl w-auto-xs">
    <a href class="navbar-brand block m-t"><img class="imgSrc" src="assets/img/BeConnected_Logo.gif" style="max-height: 35px;"></a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Enter your new  password to reset.</strong>
        </div>
        
        <form name="reset_form" id="resetpassword-form">
            <div class="list-group list-group-sm">
                <div class="form-group">
                    <input id="newPass" name="newPass" type="password" placeholder="Enter new password" ng-model="reset.newPass" class="form-control" required>
                </div>
            </div>
            <!-- <md-progress-linear id="resetPassSpin" ng-if="showLoadingIcon" style="" md-mode="indeterminate" class="m-b"></md-progress-linear> -->
            <button style="padding: 3px 4px !important;" type="submit" class="btn btn-lg btn-info btn-block"  ng-click="updatePassword(reset,'resetpassword-form')" >
            Update
            <!-- <i class="fa fa-spinner faa-spin animated" ng-if="showLoadingIcon"></i> -->
            </button>
             <!-- <div class="text-center m-t m-b">
                <a href="#/">Back to login</a>
                         </div> -->
        </form>
    </div>

    <!-- Success Modal -->
    <div id="successModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content modalClass">
            <div class="modal-body">
              <img src="assets/img/right.png" id="rightImg" width="100" style="margin-left:85px;">
              <strong style="margin-left:95px;">Success !</strong>
              <p style="margin-left:30px;">Please check your email address.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">ok</button>
              <!-- <button type="button" class="btn btn-default" ng-click="popupOk">ok</button> -->
            </div>
          </div>
        </div>
    </div>

</div>


