<style type="text/css">
.tab-content>.active {
    margin-left: -15px;
}

.fa-times:before {
    color: #ffffff !important;
}
.fa-edit:before{
        color:#fff !important;
    }
    .dotCircle {
        height: 8px;
        width: 8px;
        background-color: #000;
        border-radius: 50%;
        display: inline-block;
    }
    .hiddenField{
        display:none;
    }
</style>
<div ng-init="app.settings.container = false;" class="md-navbar navbar blue md-whiteframe-z1" data-ng-include=" 'tpl/material.header.html' ">
</div>
<div layout="row">
    <div flex class="bg-white md-whiteframe-z0 md-aside md-content hidden-xs" data-ng-include=" 'tpl/material.aside.html' ">
    </div>
    <div flex layout="column">
        <div ui-butterbar></div>
        <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside"></a>
        <div class="md-content page_content_wrapper">
            <div class="content_head bg-light lter b-b wrapper-md ng-scope">
                <a href="javascript:history.back()" class="btn btn-info pull-right btn-sm" style="font-size:14px;margin-top:-15px;">Back</a>
            </div>
            <div class="wrapper-md ng-scope">
                <div class="panel panel-default">
                    <div class="panel-body" style="background:#e4e7ea;">
                        <div class="col-sm-12">
                            <div class="col-sm-2" style="margin-right: 10px;">
                                <img ng-src="uploads/logo/{{info.vLogo}}" ng-if="info.vLogo" style="width:175px;border: 7px solid #fff;padding: 8px;height:150px">
                                <img ng-src="assets/img/blank.png" ng-if="!info.vLogo" style="width:175px;border: 7px solid #fff;padding: 8px;height:150px">
                            </div>
                            <div class="col-sm-8">
                                <div>
                                    <span class="profileTitleh" ng-bind="info.vUserName"></span>
                                </div>
                                <div>
                                    <span class="profileTitle">I am a client</span>
                                </div>
                                <br>
                                <br>
                                <div class="">
                                    <a href="javascript:void(0)" class="btn btn-info" ng-click="emailSent(info.iClientId,'direct');" style="margin-left:0px;margin-top: 50px;" title="Email"><i class="fa fa-envelope-o" style="margin-right:5px"></i>Email</a>
                                    <a class="btn btn-info" href="#/edit-client/{{info.iClientId}}" title="edit" style="margin-left:0px;margin-top: 50px;"><i class="glyph-icon fa-edit-white" style="margin-right:5px"></i>Edit</a>
                                    <a href="javascript:void(0)" class="btn btn-info" ng-click="viewFileManager(info.iClientId)" title="File Manager" style="margin-left:0px;margin-top: 50px;"><i class="fa fa-folder-open" style="margin-right:5px"></i>File Manager</a>
                                    <button class="btn btn-info" ng-click="deleteDirect(info.iClientId,info.vLogo, info.vUserName)" title="Delete" style="margin-left:0px;margin-top: 50px;"><i class="glyph-icon fa-times-white"></i> Delete</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default panel-labeled">
                            <div class="panel-body">
                                <h4 style="text-align: center;color: #636e7a;">Basic Information</h4>
                                <table class="table table-striped b-t b-b table-bordered">
                                    <tbody>
                                        <tr>
                                            <td><span class="TblSpan">Business Unit</span></td>
                                            <td><span ng-bind="info.vCodeRights_name"></span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="TblSpan">Phone</span></td>
                                            <td><span ng-bind="info.vPhone"></span></td>
                                        </tr>
                                        <!-- <tr>
                    <td><span class="TblSpan">Email</span></td>
                    <td><span ng-bind="info.vEmailAddress"></span></td>
                </tr> -->
                                        <tr>
                                            <td><span class="TblSpan">Website</span></td>
                                            <td>
                                                <a href="http://{{info.vWebsite}}" target="_blank">{{info.vWebsite}}</a>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                    <td><span class="TblSpan">Skype</span></td>
                    <td><span ng-bind="info.vSkype"></span></td>
                </tr> -->
                                        <tr>
                                            <td><span class="TblSpan">Client number</span></td>
                                            <td><span ng-bind="info.vClientNumber | numberFixedLen:3"></span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="TblSpan">Creation Date</span></td>
                                            <td><span ng-bind="info.dtCreationDate"></span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="TblSpan">Status</span></td>
                                            <td><span ng-bind="info.vStatus"></span></td>
                                        </tr>
                                        <!-- <tr>
                                            <td><span class="TblSpan">Responsible Sales Person</span></td>
                                            <td><span id="iBussinessDeveloper"></span></td>
                                        </tr> -->
                                        <!-- <tr>
                    <td><span class="TblSpan">Taxation Type</span></td>
                    <td><span ng-bind="info.vTextType"></span></td>
                </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default panel-labeled">
                            <div class="panel-body">
                                <h4 style="text-align: center;color: #636e7a;">Address</h4>
                                <table class="table table-striped b-t b-b table-bordered">
                                    <tbody>
                                        <tr>
                                            <td><span class="TblSpan">Address</span></td>
                                            <td><span ng-bind="info.vAddress1"></span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="TblSpan">City</span></td>
                                            <td><span id="address1_locality" ng-bind="vCity1"></span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="TblSpan">State</span></td>
                                            <td><span id="address1_administrative_area_level_1" ng-bind="add1.state"></span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="TblSpan">Country</span></td>
                                            <td><span id="address1_country" ng-bind="add1.zipcode"></span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="TblSpan">Zip Code </span></td>
                                            <td><span id="address1_postal_code" ng-bind="add1.country"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <!-- <div class="col-md-6">
                        <div class="panel panel-default panel-labeled" style="height: 165px;">
                            <div class="panel-body">
                                <h4 style="text-align: center;color: #636e7a;">Other Information</h4>
                                <table class="table table-striped b-t b-b table-bordered">
                                    <tbody>
                                        <tr>
                                            <td><span class="TblSpan">PO Format</span></td>
                                            <td><span ng-bind="info.tPoInfo"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-6">
                        <div class="panel panel-default panel-labeled">
                            <div class="panel-body">
                                <h4 style="text-align: center;color: #636e7a;">Contact Person</h4>
                                <table class="table table-striped b-t b-b table-bordered">
                                    <thead>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <!-- <th>Department</th> -->
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="c in contactlist">
                                            <td ng-bind="{{$index + 1}}"></td>
                                            <td>{{c.vFirstName}}&nbsp;{{c.vLastName}}</td>
                                            <td style="word-break: break-word; display: inline-flex;">{{c.vEmail}} <a href="javascript:void(0)" style="margin-left: 5px;" ng-click="generalEmail(c.vEmail)"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></td>
                                            <!-- <td ng-bind="c.vDepartment"></td> -->
                                        </tr>
                                        <tr ng-show="!contactlist.length">
                                            <td colspan="4" ng-bind="dataNotFound"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default panel-labeled">
                            <div class="panel-body">
                                <h4 style="text-align: center;color: #636e7a;">Account Information</h4>
                                <table class="table table-striped b-t b-b table-bordered">
                                    <tbody>
                                        <tr>
                                            <td><span class="TblSpan">Sales TAX ID (VAT number)</span></td>
                                            <td><span ng-bind="payment.tax_id"></span></td>
                                        </tr>
                                        <!-- <tr>
                    <td><span class="TblSpan">Taxation Type</span></td>
                    <td><span ng-bind="info.vTextType"></span></td>
                </tr> -->
                                        <tr>
                                            <td><span class="TblSpan">Accounting notes</span></td>
                                            <td>
                                                <span ng-if="payment.memos">{{payment.memos}}</span>
                                                <span ng-if="!payment.memos">No data found</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="panel panel-default panel-labeled">
                            <div class="panel-body">
                                <h4 style="text-align: center;color: #636e7a;">Login Detail</h4>
                                <table class="table table-striped b-t b-b table-bordered">
                                    <thead>
                                        <th>#</th>
                                        <th>User Name</th>
                                        <th>Password</th>
                                        <th>Website</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="client in clientlist1">
                                            <td ng-bind="{{$index + 1}}"></td>
                                            <td>{{client.vEmail}}
                                                <!-- <a href="javascript:void(0)" ng-click="generalEmail(client.vEmail)"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> --></td>
                                            <td>
                                                <span id="passShow{{$index}}" class="hiddenField">{{client.vPassword}} 
                                                </span>

                                                <span id="passHide{{$index}}">
                                                    <span class="dotCircle"></span>
                                                    <span class="dotCircle"></span>
                                                    <span class="dotCircle"></span>
                                                    <span class="dotCircle"></span>
                                                </span>
                                                <a href="javascript:void(0);" ng-click="hideShowPassField($index)"><i style="" class="fa fa-eye"></i></a></td>
                                            
                                            <td>
                                                <a href="http://{{client.vWebsite}}" style="color:#4ba0c3" target="_blank">{{client.vWebsite}}</a>
                                            </td>
                                        </tr>
                                        <tr ng-show="!clientlist1.length">
                                            <td colspan="3" ng-bind="dataNotFound"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- footer copy right -->
            <div data-ng-include="'tpl/copyRight.html'"></div>

            </div>
        </div>
    </div>